<div id="titlebar" class="gradient" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.BUDGETERS_TITLE}}</h2>
      <!-- <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span> -->
    </div>
  </div>
</div>

<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12">
    <div id="add-listing">
      <div class="add-listing-section">
        <!-- Headline -->
        <div class="add-listing-headline">
          <h3><i class="sl sl-icon-doc"></i> {{labels.WEDDING_PLANNING}}</h3>
        </div>
        <div class="row with-forms">
          <!-- Status -->
          <div class="col-md-6">
            <h5>{{labels.HOW_TO_ENJOY}}</h5>
            <select id="budgetCategory" class="chosen-select-no-single">
              <option>{{labels.SELECT_BUDGET_LVL}}</option>
              <option value="EXPENSIVELY">{{labels.EXPENSIVELY}}</option>
              <option value="AFFORDABLY">{{labels.AFFORDABLY}}</option>
              <option value="CHEAPLY">{{labels.CHEAPLY}}</option>
              <option value="FREELY">{{labels.OWN_PLAN}}</option>
            </select>
          </div>

          <div class="col-md-6">
            <h5>{{labels.BUDGET}} <i class="tip"
                data-tip-content="This is our suggestion, you can plan your wedding based on your budget."></i></h5>
            <input id="suggestedBudget" type="text" autocomplete="off" [(ngModel)]="suggestedBudget"
              [placeholder]="labels.BUDGET_PLACEHOLDER">
          </div>
        </div>

        <div class="row" [align]="lang==='ar'?'left':'right'">
          <a style="margin-top: 0px; padding-top: 5px; padding-bottom: 5px;" (click)="saveBudget()"
            class="button preview">{{labels.SAVE}} <i class="sl sl-icon-check"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-top-10" *ngIf="showAlarm">
  <div class="col-md-12">
    <div class="notification error closeable margin-bottom-5">
      <p>Hi Alameer, Take care you're <strong> exceeding the planned budget</strong> fine tune 🙄.</p>
      <a class="close" href="#"></a>
    </div>
  </div>
</div>

<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box with-icons margin-top-20">
      <h4>{{labels.WEDDING_BUDGET}} <div (click)="createBudgeterItem()" style="background-color: #046B69 !important;
          color: white !important;
          cursor: pointer;
          border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">{{labels.ADD_ITEM}}</strong>
        </div>
      </h4>
      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" scope="col" width="45%">{{labels.PLAN_ITEM}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" scope="col" width="25%">{{labels.RECOMMENDATION}}
              </th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" scope="col" width="25%">{{labels.AMOUNT}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" scope="col" width="1%"></th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" scope="col" width="1%"></th>
            </tr>
          </thead>
          <tbody>

            <ng-container *ngFor="let budgeter of listOfBudgeters">
              <tr [ngClass]="lang === 'ar' ? 'th' : ''" scope="col">
                <td><input type="text" placeholder="Plan" [(ngModel)]="budgeter.name" /></td>
                <td><input disabled type="number" placeholder="Recommended" [(ngModel)]="budgeter.amount" /></td>
                <td><input disabled type="number" placeholder="Amount" [(ngModel)]="budgeter.vendor.amountSpent" /></td>
                <td class="td-in-table" (click)="openBudgeter(budgeter._id)">
                  <p><i [class]="budgetItem == budgeter._id ? 'fa fa-angle-up' : 'fa fa-angle-down'"></i></p>
                </td>
                <td class="td-in-table" (click)="confirmDeletingBudgetItem(budgeter._id)">
                  <p><i class="fa fa-scissors"></i></p>
                </td>
              </tr>

              <tr [ngClass]="{ 'show-div' : budgetItem == budgeter._id , 'hide-div' : budgetItem !== budgeter._id }">
                <td [@slideInOut]="budgetItem == budgeter._id ? 'in' : 'out'" colspan="5"
                  style="background-color: #F9F9F9 !important;">
                  <div>
                    <div class="row with-forms">
                      <div class="col-md-6">
                        <h5>Select vendor </h5>
                        <select class="chosen-select-no-single">
                          <option style="padding-left: 2px;" value="sd">Select Categorssy</option>
                          <option style="padding-left: 2px;" value="606b7e6d29485531bcbbb76b">Alameer</option>
                        </select>
                      </div>

                      <div class="col-md-6">
                        <h5>{{labels.AMNT_SPEND}}</h5>
                        <input type="number" [(ngModel)]="budgeter.vendor.amountSpent"
                          placeholder="Enter the planned budget to prepare your wedding.">
                      </div>
                    </div>

                    <div class="row with-forms">
                      <div class="col-md-12">
                        <h5>{{labels.NOTES_REMEMBER}}</h5>
                        <textarea cols="40" rows="3" [(ngModel)]="budgeter.vendor.note"></textarea>
                      </div>
                    </div>

                    <button *ngIf="budgeter.isNew" class="button" (click)="saveBudgeterItem(budgeter._id)">Save
                      {{labels.NOTE}}</button>
                    <button *ngIf="!budgeter.isNew" class="button" (click)="updateBudgeterItem(budgeter._id)">Update
                      {{labels.NOTE}}</button>
                  </div>
                </td>
              </tr>
            </ng-container>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
