<header id="header-container" class="fixed fullwidth dashboard">

	<!-- Header -->
	<div id="header" class="not-sticky">
		<div class="container">

			<!-- Left Side Content -->
			<div class="left-side">

				<!-- Logo -->
				<div id="logo">
					<a href="index.html"><img src="images/logo.png" alt=""></a>
					<a href="index.html" class="dashboard-logo"><img src="images/logo2.png" alt=""></a>
				</div>

				<!-- Mobile Navigation -->
				<div class="mmenu-trigger">
					<button class="hamburger hamburger--collapse" type="button">
						<span class="hamburger-box">
							<span class="hamburger-inner"></span>
						</span>
					</button>
				</div>

				<!-- Main Navigation -->
				<nav id="navigation" class="style-1">
					<ul _ngcontent-gsx-c2="" id="responsive"><!--bindings={
						"ng-reflect-ng-for-of": "[object Object],[object Object"
					  }--><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="#">360 Planner</a><ul _ngcontent-gsx-c2=""><!--bindings={
						"ng-reflect-ng-for-of": "[object Object],[object Object"
					  }--><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Check List</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Budgeter</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Registry List</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Guest List</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Wedding Website</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Couple Website</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">More</a></li></ul></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="#">Her</a><ul _ngcontent-gsx-c2=""><!--bindings={
						"ng-reflect-ng-for-of": "[object Object],[object Object"
					  }--><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Designers</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Bridal Boutique</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Wedding Dresses</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Rings</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Makeup Artists</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">More</a></li></ul></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="#">Him</a><ul _ngcontent-gsx-c2=""><!--bindings={
						"ng-reflect-ng-for-of": "[object Object],[object Object"
					  }--><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Suits</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Health</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Men's Grooming</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Fitness</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">More</a></li></ul></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="#">The Wedding</a><ul _ngcontent-gsx-c2=""><!--bindings={
						"ng-reflect-ng-for-of": "[object Object],[object Object"
					  }--><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Venues</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Outdoor Wedding Venues</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Videographers</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Photographers</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">DJs</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">More</a></li></ul></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="#">Gallery</a><ul _ngcontent-gsx-c2=""><!--bindings={
						"ng-reflect-ng-for-of": "[object Object],[object Object"
					  }--><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Wedding Ideas</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">More</a></li></ul></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="#">Ideas &amp; More</a><ul _ngcontent-gsx-c2=""><!--bindings={
						"ng-reflect-ng-for-of": "[object Object],[object Object"
					  }--><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Tips &amp; Etiquette</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">Wedding Of The Week</a></li><li _ngcontent-gsx-c2=""><a _ngcontent-gsx-c2="" href="index.html">More</a></li></ul></li></ul>
				</nav>
				<div class="clearfix"></div>
				<!-- Main Navigation / End -->

			</div>
			<!-- Left Side Content / End -->

			<!-- Right Side Content / End -->
			<div class="right-side">
				<!-- Header Widget -->
				<div class="header-widget">

					<!-- User Menu -->
					<div class="user-menu">
						<div class="user-name"><span><img src="images/dashboard-avatar.jpg" alt=""></span>My Account</div>
						<ul>
							<li><a href="dashboard.html"><i class="sl sl-icon-settings"></i> Dashboard</a></li>
							<li><a href="dashboard-messages.html"><i class="sl sl-icon-envelope-open"></i> Messages</a></li>
							<li><a href="dashboard-bookings.html"><i class="fa fa-calendar-check-o"></i> Bookings</a></li>
							<li><a href="index.html"><i class="sl sl-icon-power"></i> Logout</a></li>
						</ul>
					</div>

				</div>
				<!-- Header Widget / End -->
			</div>
			<!-- Right Side Content / End -->

		</div>
	</div>
	<!-- Header / End -->

</header>
