<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.MY_PROFILE}}</h2>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="fb-profile-block  ">

        <div class="fb-profile-block-thumb cover-container card-img-overlay "
          [ngStyle]="{'background': 'url(' + profilePhotoUrl + ') center center no-repeat'}">
          <div class="card-img-overlay">
            <div class="change-photo-btn coverBtn">
              <div class="photoUpload">
                <span><i class="fa fa-upload"></i> Upload Photo</span>
                <input type="file" class="upload" (change)="onFileSelected($event)" />
              </div>
            </div>
          </div>

        </div>

        <div class="profile-img ">
          <a href="#!">
            <img src="/assets/images/defaults/avatar/me.jpg" alt="" title="">
          </a>
        </div>
        <div class="profile-name">
          <h2>Markins Smithertain</h2>
        </div>

        <div class="fb-profile-block-menu">
          <div class="block-menu">
            <ul>
              <li> <a href="#!" class="card-link text-info">Edit Cover Photo</a></li>
              <li> <a href="#!" class="card-link text-danger">Remove Cover Photo</a></li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4 class="gray">{{labels.PROFILE_DETAILS_TITLE}}</h4>
      <div class="dashboard-list-box-static">

        <div class="edit-profile-photo" style="padding: 10px !important; height: 205px !important;">
          <img class="anImage"
            [src]="coverPhotoSource == '' ? 'assets/images/defaults/wedding/cover-photo.png' : coverPhotoSource" alt="">
          <div class="change-photo-btn">
            <div class="photoUpload">
              <span><i class="fa fa-upload"></i> {{labels.UPLOAD_PHOTO}}</span>
              <input type="file" class="upload" (change)="onFileSelected($event)" />
            </div>
          </div>
        </div>

        <div class="my-profile">

          <label>{{labels.YOUR_NAME}}</label>
          <input value="Tom Perrin" type="text">

          <label>{{labels.EMAIL}}</label>
          <input value="tom@example.com" type="text">

          <label>{{labels.Phone}}</label>
          <input value="(123) 123-456" type="text">

          <label>{{labels.DOB}}</label>
          <input type="text" id="date-picker" placeholder="Date" readonly="readonly">

          <label>{{labels.GENDER}}</label>
          <select class="chosen-select-no-single">
            <option [label]="labels.SELECT">{{labels.SELECT}}</option>
            <option>{{labels.MALE}}</option>
            <option>{{labels.FEMALE}}</option>
          </select>

          <label>{{labels.LOCATION}}</label>
          <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
              (dragEnd)="markerDragEnd($event)"></agm-marker>
          </agm-map>
          <label>{{labels.CITY}}</label>
          <input [placeholder]="labels.CITY" type="text" autocomplete="sd">

          <label>{{labels.ADDRESS}}</label>
          <input [placeholder]="labels.ADDRESS" [value]="address" type="text">

          <label class="margin-top-0"><i class="fa fa-twitter"></i> Twitter</label>
          <input placeholder="https://www.twitter.com/" type="text">

          <label><i class="fa fa-facebook-square"></i> Facebook</label>
          <input placeholder="https://www.facebook.com/" type="text">
        </div>

        <button class="button margin-top-15">{{labels.SAVE}}</button>

      </div>
    </div>
  </div>

  <!-- Change Password -->
  <div class="col-lg-6 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4 class="gray">{{labels.CHANGE_PASSWORD_TITLE}}</h4>
      <div class="dashboard-list-box-static">
        <div class="my-profile">
          <label class="margin-top-0">{{labels.CURRENT_PASSWORD}}</label>
          <input type="password">

          <label>{{labels.NEW_PASSWORD}}</label>
          <input type="password">

          <label>{{labels.CONFIRM_PASSWORD}}</label>
          <input type="password">

          <button class="button margin-top-15">{{labels.CHANGE_PASSWORD}}</button>
        </div>

      </div>
    </div>
  </div>
</div>
