#logo {
  margin-right: 5px !important;
}


.lang-holder{
  position: relative;
  display: inline-block;
  cursor: pointer;
  margin-right: 25px;
  top: 9px;
  vertical-align: top;
  padding-left: 0px;
  margin-left: 0px;
}
