<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12">
    <div id="add-listing">
      <div class="add-listing-section">
        <div class="add-listing-headline" style="padding: 25px;">
          <h3><i class="im im-icon-Dress"></i> {{labels.NEW_DRESS}}</h3>
        </div>

        <div class="row with-forms">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="dashboard-list-box-static" style="padding: 0px;">
                <div class="my-profile">

                  <label class="margin-top-0">{{labels.NAME_ENGLISH}}</label>
                  <input value="Tom Perrin" type="text">

                  <label>{{labels.DESC_ENGLISH}}</label>
                  <textarea></textarea>

                  <label>{{labels.SERVICE}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SERVICE">{{labels.SELECT_SERVICE}}</option>
                    <option>{{labels.DRESS}}</option>
                    <option>{{labels.RING}}</option>
                  </select>

                  <label>{{labels.DRESS_CUT}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT">{{labels.SELECT}}</option>
                    <option>{{labels.SHORT}}</option>
                    <option>{{labels.TALL}}</option>
                  </select>

                  <label>{{labels.TRAIN_LEN}}</label>
                  <input value="length" type="text">

                  <label>{{labels.SILHOUETTE}}</label>
                  <input value="length" type="text">

                  <label>{{labels.COLOR}}</label>
                  <input value="color" type="text">

                  <label>{{labels.PRICE}}</label>
                  <input value="price" type="text">

                  <label>{{labels.TAG_ENGLISH}}</label>
                  <input value="Tags en" type="text">

                  <div class="edit-profile-photo" style="padding: 10px !important; height: 205px !important;">
                    <img class="anImage"
                      [src]="coverPhotoSource == '' ? 'assets/images/defaults/wedding/cover-photo.png' : coverPhotoSource"
                      alt="">
                    <div class="change-photo-btn">
                      <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> {{labels.UPLOAD_PHOTO}}</span>
                        <input type="file" class="upload" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="dashboard-list-box-static" style="padding: 0px;">
                <div class="my-profile">
                  <label class="margin-top-0">{{labels.NAME_ARABIC}}</label>
                  <input value="توم" type="text">

                  <label>{{labels.DESC_ENGLISH}}</label>
                  <textarea></textarea>

                  <label>{{labels.CATEGORY}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT">{{labels.SELECT}}</option>
                    <option>{{labels.HIM}}</option>
                    <option>{{labels.HER}}</option>
                  </select>

                  <label> {{labels.DRESS_LEN}} </label>
                  <input value="dress length" type="text">

                  <label>{{labels.WAIST_STYLE}}</label>
                  <input value="waist style" type="text">

                  <label>{{labels.STYLE}}</label>
                  <input value="style" type="text">

                  <label>{{labels.SIZE}}</label>
                  <input value="size" type="text">

                  <label>{{labels.NECKLINE}}</label>
                  <input value="neckline" type="text">

                  <label>{{labels.TAG_ARABIC}}</label>
                  <input value="Tags ar" type="text">

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [align]="lang==='ar'?'left':'right'">
        <a style="background-color: #F91942 !important;" class="button preview">
          {{labels.CANCEL}} <i class="sl sl-icon-close"></i>
        </a>
        <a class="button preview">{{labels.SAVE}} <i class="sl sl-icon-check"></i></a>
      </div>
    </div>
  </div>
</div>
