<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>My Profile</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4 class="gray">Profile Details</h4>
      <div class="dashboard-list-box-static">

        <div class="my-profile">

          <label class="margin-top-0">Wedding Date</label>
          <input type="text" id="date-picker" placeholder="Date" readonly="readonly">

          <label>Wedding Budget</label>
          <input placeholder="20,000" type="Number">

          <label>Venue</label>
          <input value="Ex. Masaya" type="text">

          <label>Number of Guests</label>
          <input value="500" type="Number">
        </div>

        <button class="button margin-top-15">Save Changes</button>

      </div>
    </div>
  </div>

  <!-- Change Password -->
  <div class="col-lg-6 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4 class="gray">My Partner</h4>
      <div class="dashboard-list-box-static">
        <div class="my-profile">
          <label class="margin-top-0">Partner Name</label>
          <input type="password" >

          <label>Partner Email</label>
          <input type="text" placeholder="partner@email.com">

          <label>Partner Phone</label>
          <input type="text" placeholder="01xxxxxxxx">


          <label>Date of birth</label>
          <input type="text" id="date-picker" placeholder="Date" readonly="readonly">

          <button class="button margin-top-15">Change Password</button>
        </div>
      </div>
    </div>
  </div>
</div>
