<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.HOWDY}}, Alameer!</h2>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="notification error closeable margin-bottom-30">
      <p>{{labels.HI}} Alameer, <span [innerHTML]='confirmAccount'></span>
        <a class="close" href="#"></a>
    </div>
  </div>
</div>

<div class="row">
  <!-- Item -->
  <div class="col-lg-3 col-md-6">
    <div class="dashboard-stat color-1">
      <div class="dashboard-stat-content">
        <h4>10</h4> <span>{{labels.ACTION_LIST}}</span>
      </div>
      <div class="dashboard-stat-icon"><i class="im im-icon-Check"></i></div>
    </div>
  </div>

  <!-- Item -->
  <div class="col-lg-3 col-md-6">
    <div class="dashboard-stat color-2">
      <div class="dashboard-stat-content">
        <h4>3</h4> <span>{{labels.EVENTS}}</span>
      </div>
      <div class="dashboard-stat-icon"><i class="im im-icon-Electric-Guitar"></i></div>
    </div>
  </div>


  <!-- Item -->
  <div class="col-lg-3 col-md-6">
    <div class="dashboard-stat color-3">
      <div class="dashboard-stat-content">
        <h4>12</h4> <span>{{labels.COMMENTS}}</span>
      </div>
      <div class="dashboard-stat-icon"><i class="im im-icon-Pencil"></i></div>
    </div>
  </div>

  <!-- Item -->
  <div class="col-lg-3 col-md-6">
    <div class="dashboard-stat color-4">
      <div class="dashboard-stat-content">
        <h4>126</h4> <span>{{labels.BOOKMARKS}}</span>
      </div>
      <div class="dashboard-stat-icon"><i class="im im-icon-Heart"></i></div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box invoices with-icons margin-top-20">
      <h4>{{labels.NOTIFICATIONS}}</h4>
      <ul>

        <li><i style="background-color: rgb(100, 162, 201); color: white;" class="list-box-icon sl sl-icon-rocket"></i>
          <strong>Weds360 wore a new suit now, completly new design with handsome views Let's descover it 😍</strong>
          <ul>
            <li>01/02/2019</li>
          </ul>
        </li>

        <li><i class="list-box-icon im im-icon-Gift-Box"></i>
          <strong>Maruim Dawoud has posted an offer, 70% discount.</strong>
          <ul>
            <li class="paid"><span>70%</span> Discount for all services.</li>
            <li>01/02/2019</li>
          </ul>
        </li>

        <li><i class="list-box-icon sl sl-icon-rocket"></i>
          <strong>Weds360 Freelancer is up and running now. follow your passion and start your career.</strong>
          <ul>
            <li>01/02/2019</li>
          </ul>
        </li>

        <li><i class="list-box-icon sl sl-icon-envelope-open"></i>
          <strong>Mayan just sent you a message.</strong>
          <ul>
            <li>01/02/2019</li>
          </ul>
        </li>

      </ul>
    </div>
  </div>
</div>
