<div class="transparent-header">
  <header id="header-container" class="fullwidth">
    <div id="header" style="border-bottom: 0px;">
      <div class="container">
        <div class="left-side">
          <div id="logo">
            <a>
              <img style="max-height: 55px;" src="assets/images/logos/logo_1.png"
                data-sticky-logo="assets/images/logos/logo_1.png" alt="Weds360 logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div class="main-search-container full-height alt-search-box centered" [attr.data-background-image]="bkImage">
    <div class="main-search-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="resetForm">
              <div class="main-search-input">
                <div class="main-search-input-headline">
                  <h2>Forget your password?</h2>
                  <h4 style="margin-bottom: 20px;">No worries! we've got your back, add your email and find the reset
                    email.</h4>
                </div>

                <!-- Email Errors -->
                <div *ngIf="rpf['email'].errors?.email && rpf.email.touched"
                  class="main-search-input-item removed-margins">
                  <div class="notification error closeable fullWidth removed-paddings">
                    <p>Please enter a valid email.</p>
                  </div>
                </div>
                <!-- End Email Errors -->


                <div
                  class="main-search-input-item removed-margins">
                  <div class="notification success closeable fullWidth removed-paddings">
                    <p>Reset link has been sent to your email.</p>
                  </div>
                </div>


                <div class="main-search-input-item">
                  <div>
                    <input formControlName="email" type="text" placeholder="example@weds360.com">
                  </div>
                </div>

                <button [disabled]="!resetForm.valid" [ngClass]="{'disabled': !resetForm.valid }"
                  (click)="resetMyPassword()" class="button fullwidth margin-top-5">
                  Send me an email
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
