.bkgrnd {
  background: linear-gradient(to bottom, rgba(66, 92, 77, 0.8) 0%, rgba(31, 44, 30, 0.8) 100%),
  url('/assets/images/themes/default/top-image.png') !important;
  background-repeat: no-repeat, repeat;
  background-size: cover !important;
}


.btn-primary-garden {
  color: #fff;
  background-color: #64a527 !important;
  border-color: #64a527 !important;
}


.bg-primary-garden {
  background-color: #64a527 !important;
}
