<div id="footer" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <!-- Main -->
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-sm-6">
        <img class="footer-logo" src="assets/images/logos/logo_1.png" alt="Weds360">
        <br><br>
        <p>{{labels.FOOTER}}</p>

        <div class="download-badges">
          <div style="margin-right: 5px;">
            <img class="badge" src="assets/images/app download badges/en/android.png"
              alt="Download App From Google Play">
          </div>

          <div>
            <img class="badge" src="assets/images/app download badges/en/ios.png" alt="Download App From Google Play">
          </div>
        </div>
        <br><br>
      </div>

      <div class="col-md-4 col-sm-6 ">
        <h4>{{labels.FOOTER_HELPFUL_LINKS}}</h4>
        <ul class="footer-links">
          <li><a href="#">{{labels.LINK_LOGIN}}</a></li>
          <li><a href="#">{{labels.LINK_SIGN_UP}}</a></li>
          <li><a href="#">{{labels.LINK_MY_ACCOUNT}}</a></li>
          <li><a href="#">{{labels.LINK_PRICING}}</a></li>
          <li><a href="#">{{labels.LINK_ADD_LISTING}}</a></li>
          <li><a href="#">{{labels.LINK_PRIVACY_POLICY}}</a></li>


        </ul>

        <ul class="footer-links">
          <li><a href="#">{{labels.LINK_FAQ}}</a></li>
          <li><a href="#">{{labels.LINK_BLOG}}</a></li>
          <li><a href="#">{{labels.LINK_PARTNERS}}</a></li>
          <li><a href="#">{{labels.LINK_HIW}}</a></li>
          <li><a href="#">{{labels.LINK_CONTACT}}</a></li>
        </ul>
        <div class="clearfix"></div>
      </div>

      <div class="col-md-3  col-sm-12">
        <h4>{{labels.FOOTER_CONTACT_US}}</h4>
        <div class="text-widget">
          <span>{{labels.FOOTER_ADDRESS}}</span> <br>
          {{labels.FOOTER_PHONE}}: <span>(+20) 155-555-1360 </span><br>
          {{labels.FOOTER_EMAIL}}:<span> <a href="#">info@plus360.xyz</a> </span><br>
        </div>

        <ul class="social-icons margin-top-20">
          <li><a class="facebook" href="#"><i class="icon-facebook"></i></a></li>
          <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li>
          <li><a class="gplus" href="#"><i class="icon-gplus"></i></a></li>
          <li><a class="instagram" href="#"><i class="icon-instagram"></i></a></li>
        </ul>

      </div>

    </div>

    <!-- Copyright -->
    <div class="row " [ngClass]="lang === 'ar' ? 'footerText' : ''">
      <div class="col-md-12">
        <div class="copyrights">© {{ currentDate }} <a href="http://plus360.xyz/"> {{labels.PLUS360}}
          </a>{{labels.COPY_RIGHT}}</div>
      </div>
    </div>

  </div>

</div>
