@media (max-width: 767px) {
  #registry .registry-title {
    margin-top: 80px;
  }

  #top-section {
    height: 550px;
  }

  .text-style-2 {
    line-height: 2;
    letter-spacing: 1px;
  }

  .top-image h1 {
    font-size: 40px;
  }

  #date--txt,
  #getting--married--txt {
    font-size: 20px;
    line-height: 1.5;
  }

  .cover-photo {
    height: 300px;
  }

  #span--css,
  #wedding--para,
  #wedding--para1 {
    font-size: 16px;
  }

  #registry {
    width: 100%;
  }

  .nav-style {
    left: 0;
    text-align: center;
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background-color: $primary-color;
    border-color: $secondary-color;
  }
}
/* =================================
Media Queries
==================================== */
@media screen and (max-width: 1200px) {}
@media screen and (max-width: 991px) {
  #attending-question {
    font-size: 25px;
  }

  .boarder-container {
    width: 60%;
    height: 500px;
  }

  .boarder {
    height: 445px;
  }

  .text-style-1 {
    font-size: 18px;
    margin-top: 0;
  }

  .text-style-2 {
    font-size: 23px;
  }

  .add-margin {
    margin-top: 30px !important;
  }

  .couple-picture {
    width: 34%;
    margin: auto;
    height: 260px;
  }

  .story-headline {
    font-size: 35px;
  }

  .story-details {
    font-size: 23px;
  }

  #event-details-headine {
    font-size: 28px;
  }

  #when-where {
    font-size: 23px;
  }

  .text-style-3 {
    font-size: 20px;
  }

  .event-details {
    height: 240px;
  }

  .attending {
    height: 200px;
  }

  .btn-outline-primary {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  #attending-question {
    font-size: 27px;
  }

  .story-text {
    width: 100%;
  }

  .boarder-container {
    width: 60%;
    height: 450px;
  }

  .boarder {
    height: 380px;
  }

  .text-style-1 {
    font-size: 16px;
    margin-top: 0;
  }

  .text-style-2 {
    font-size: 14px;
  }

  .add-margin {
    margin-top: 30px !important;
  }

  .couple-picture {
    width: 48%;
    margin: auto;
    height: 260px;
  }

  .story-headline {
    font-size: 33px;
  }

  .story-details {
    font-size: 19px;
  }

  #event-details-headine {
    font-size: 26px;
  }

  #when-where {
    font-size: 21px;
  }

  .text-style-3 {
    font-size: 18px;
  }

  .event-details {
    height: 220px;
  }

  .attending {
    height: 200px;
  }

  .btn-outline-primary {
    font-size: 18px;
  }

  #header--para--txt {
    font-size: 25px;
  }

  #para--txt--css {
    font-size: 18px;
  }

  .container--one {
    width: 100%;
  }

  .container--two {
    width: 100%;
    top: 1px;
  }

  .event {
    font-size: 15px;
  }

  .events .event-wrapper a.going-btn.active,
  .events .event-wrapper a:focus.active,
  .events .event-wrapper a:hover.active {
    font-size: 15px;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 15px;
  }

  #registry th {
    width: 35%;
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  #attending-question {
    font-size: 22px;
  }

  .story-text {
    width: 100%;
  }

  .boarder-container {
    width: 90%;
    height: 435px;
  }

  .boarder {
    height: 375px;
  }

  .text-style-1 {
    font-size: 13px;
    margin-top: 0;
  }

  .text-style-2 {
    font-size: 14px;
  }

  .add-margin {
    margin-top: 30px !important;
  }

  .couple-picture {
    width: 60%;
    margin: auto;
    height: 260px;
  }

  .story-headline {
    font-size: 30px;
  }

  .story-details {
    font-size: 18px;
  }

  #event-details-headine {
    font-size: 23px;
  }

  #when-where {
    font-size: 18px;
  }

  .text-style-3 {
    font-size: 15px;
  }

  .event-details {
    height: 200px;
  }

  .attending {
    height: 150px;
  }

  .btn-outline-primary {
    font-size: 15px;
  }

  #registry th {
    width: 35%;
    font-size: 13px;
    text-align: left;
  }
}
@media screen and (max-width: 320px) {
  #header--para--txt {
    font-size: 25px;
  }

  #para--txt--css {
    font-size: 18px;
  }

  .container--one {
    width: 100%;
  }

  .container--two {
    width: 100%;
    top: 1px;
  }

  .event {
    font-size: 15px;
  }

  .events .event-wrapper a.going-btn.active,
  .events .event-wrapper a:focus.active,
  .events .event-wrapper a:hover.active {
    font-size: 15px;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 15px;
  }

  #registry th {
    width: 35%;
    font-size: 10px;
    text-align: left;
  }

  #registry .price {
    font-size: 16px;
  }
}