<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your Registry List</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>



<div class="row" style="display: inline-block;">

</div>


<div class="row">

  <!-- Listings -->
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Booking Requests</h4>
      <ul>

        <li class="approved-booking">
          <div class="list-box-listing bookings">
            <div class="list-box-listing-img">
                <p class="calendar">8 <em>February</em></p>
            </div>
            <div class="list-box-listing-content">
              <div class="inner">
                <h3 style="font-size: 25px;">Engagment Day
                  <span style="border-radius: 0px !important; font-size: 17px; background-color: #046B69 !important; color: rgb(255, 255, 255) !important" class="booking-status">18 Day</span>
                </h3>


                <div class="inner-booking-list">
                  <h5 style="font-size: 20px;">Guests: </h5> &nbsp;
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: rgb(140, 212, 112) !important; color: rgb(255, 255, 255) !important" class="highlighted">2 Going</li>
                  </ul>
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: lightcoral !important; color: rgb(255, 255, 255) !important" class="highlighted">2 Declined</li>
                  </ul>
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: rgb(66, 148, 202) !important; color: rgb(255, 255, 255) !important" class="highlighted">2 Invited</li>
                  </ul>
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: rgb(75, 74, 74) !important; color: rgb(255, 255, 255) !important" class="highlighted">2 No Response</li>
                  </ul>
                </div>

                <div class="inner-booking-list">
                  <ul class="booking-list">
                    <li>22/10/2021</li>
                  </ul>
                </div>

                <a href="#small-dialog" class="rate-review popup-with-zoom-anim">
                  <i class="sl sl-icon-paper-clip"></i> View Details
                </a>
              </div>
            </div>
          </div>
        </li>

        <li class="approved-booking">
          <div class="list-box-listing bookings">
            <div class="list-box-listing-img">
                <p class="calendar">10 <em>April</em></p>
            </div>
            <div class="list-box-listing-content">
              <div class="inner">
                <h3 style="font-size: 25px;">Engagment Day
                  <span style="border-radius: 0px !important; font-size: 17px; background-color: #c40505 !important; color: rgb(255, 255, 255) !important" class="booking-status">18 Day</span>
                </h3>

                <div class="inner-booking-list margin-bottom-10">
                  <h5>This is an event when you started this shit!, This is an event when you started this shit!, This is an event when you started this shit!</h5>
                </div>

                <div class="inner-booking-list">
                  <h5 style="font-size: 20px;">Guests: </h5> &nbsp;
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: rgb(140, 212, 112) !important; color: rgb(255, 255, 255) !important" class="highlighted">2 Going</li>
                  </ul>
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: lightcoral !important; color: rgb(255, 255, 255) !important" class="highlighted">2 Declined</li>
                  </ul>
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: rgb(66, 148, 202) !important; color: rgb(255, 255, 255) !important" class="highlighted">2 Invited</li>
                  </ul>
                  <ul class="booking-list">
                    <li style="font-size: 17px; background-color: rgb(75, 74, 74) !important; color: rgb(255, 255, 255) !important" class="highlighted">2 No Response</li>
                  </ul>
                </div>

                <div class="inner-booking-list">
                  <ul class="booking-list">
                    <li>22/10/2021</li>
                  </ul>
                </div>

                <a href="#small-dialog" class="rate-review popup-with-zoom-anim">
                  <i class="sl sl-icon-paper-clip"></i> View Details
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>


  <!-- Copyrights -->
  <div class="col-md-12">
    <div class="copyrights">© 2019 Listeo. All Rights Reserved.</div>
  </div>
</div>
