<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your Registry List</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>



<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>My Events <div
        (click)="createNewEvent()"
        style="background-color: #046B69 !important;
        color: white !important;
        cursor: pointer;
        border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">Create a new event</strong>
        </div>
      </h4>
      <ul>

        <ng-container *ngFor="let event of listOfEvents">


          <li class="approved-booking">
            <div class="list-box-listing bookings">
              <div class="list-box-listing-img">
                <p class="calendar">{{ event.day }} <em> {{ event.month }} </em></p>
              </div>
              <div class="list-box-listing-content">
                <div class="inner">
                  <h3 style="font-size: 25px;"> {{ event.name }}
                    <span
                      style="border-radius: 0px !important; font-size: 17px; background-color: #046B69 !important; color: rgb(255, 255, 255) !important"
                      class="booking-status">{{ event.numbersOfDaysToEvent }} Days</span>
                  </h3>


                  <div class="inner-booking-list">
                    <h5 style="font-size: 20px;">Guests: </h5> &nbsp;
                    <ul class="booking-list">
                      <li
                        style="font-size: 17px; background-color: rgb(140, 212, 112) !important; color: rgb(255, 255, 255) !important"
                        class="highlighted">2 Going</li>
                    </ul>
                    <ul class="booking-list">
                      <li
                        style="font-size: 17px; background-color: lightcoral !important; color: rgb(255, 255, 255) !important"
                        class="highlighted">2 Declined</li>
                    </ul>
                    <ul class="booking-list">
                      <li
                        style="font-size: 17px; background-color: rgb(66, 148, 202) !important; color: rgb(255, 255, 255) !important"
                        class="highlighted">2 Invited</li>
                    </ul>
                    <ul class="booking-list">
                      <li
                        style="font-size: 17px; background-color: rgb(75, 74, 74) !important; color: rgb(255, 255, 255) !important"
                        class="highlighted">2 No Response</li>
                    </ul>
                  </div>

                  <div class="inner-booking-list">
                    <ul class="booking-list">
                      <li>{{ event.dateText }}</li>
                    </ul>
                  </div>

                  <a style="cursor: pointer;" (click)="viewEventDetails(event._id)" class="rate-review popup-with-zoom-anim">
                    <i class="sl sl-icon-paper-clip"></i> View Details
                  </a>

                  <a style="cursor: pointer;" (click)="inviteFriends(event._id)" class="rate-review popup-with-zoom-anim">
                    <i class="im im-icon-Mail-Read"></i> Invite friends
                  </a>
                </div>
              </div>
            </div>
          </li>


        </ng-container>

      </ul>
    </div>
  </div>
</div>
