@media (max-width: 991px) {
  .thewedding--txt--contain h2 {
    font-size: 30px;
  }

  .container--one h2 {
    font-size: 22px;
  }

  .container--two h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  #registry .registry-title {
    margin-top: 80px;
  }

  .countDown--container {
    h2 {
      padding-top: 45px;
      font-size: 22px;
    }
  }

  #countdown {
    text-align: center;
    font-size: 24px;
  }

  #top-section {
    height: 400px;
  }

  .top-image h1 {
    font-size: 40px;
  }

  #date--txt,
  #getting--married--txt {
    font-size: 20px;
    line-height: 1.5;
  }

  .cover-photo {
    height: 300px;
  }

  #span--css,
  #wedding--para,
  #wedding--para1 {
    font-size: 16px;
  }

  .thewedding--txt--contain {
    width: 100%;

    h2 {
      font-size: 30px;
      text-align: center;
      padding: 0;
    }
  }

  .container--one {
    width: 100%;

    h2 {
      font-size: 20px;
      padding: 0;
    }
  }

  .container--two {
    bottom: 10px;
    position: relative;
    width: 100%;
    top: 1px;

    h2 {
      font-size: 20px;
      padding: 0;
    }
  }

  #span--css {
    font-size: 20px;
  }

  #registry {
    width: 100%;
  }

  .events {
    font-size: 20px;
  }

  .get--there--map--title {
    bottom: 25px;

    h2 {
      font-size: 20px;
    }
  }

  #registry th {
    width: 35%;
    font-size: 25px;
    text-align: center;
  }
}
@media (max-width: 575px) {
  .countDown--container {
    h2 {
      font-size: 15px !important;
    }
  }

  #countdown {
    font-size: 19px !important;
  }

  .countDown--container {
    width: 100%;
    height: 150px;

    h2 {
      padding-top: 15px;
      font-size: 12px;
    }
  }

  #top-section {
    height: 300px;
  }

  .countDown--numbers h2 {
    font-size: 34px;
    padding: 28px;
  }

  .countDown--description--words {
    // bottom: 193px;
    h2 {
      padding: 17px;
      font-size: 10px;
    }
  }

  .container--one {
    h2 {
      font-size: 15px;
      padding: 0;
    }
  }

  .container--two {
    h2 {
      font-size: 15px;
      padding: 0;
    }
  }

  .events {
    font-size: 15px;
  }

  .get--there--map--title {
    bottom: 2px;

    h2 {
      font-size: 18px;
    }
  }

  #registry th {
    width: 35%;
    font-size: 13px;
    text-align: left;
  }
}
@media (max-width: 575px) {
  .top-image {
    height: 300px;
  }

  .countDown--container h2 {
    font-size: 18px;
  }

  #countdown {
    font-size: 24px;
  }

  #header--para--txt {
    font-size: 22px;
  }

  #para--txt--css {
    font-size: 18px;
  }

  #wedding--para1 {
    font-size: 17px;
  }

  #wedding--para {
    font-size: 17px;
  }

  #span--css {
    font-size: 20px;
  }

  .container--one {
    width: 100%;
  }

  .container--two {
    bottom: 10px;
    position: relative;
    width: 100%;
    top: 1px;
  }

  .events {
    font-size: 16px;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 15px;
  }

  #registry th {
    width: 35%;
    font-size: 10px;
    text-align: left;
  }

  #registry .price {
    font-size: 16px;
  }
}