#or {
  position: relative;
  width: 250px;
  height: 50px;
  margin: auto;
  line-height: 50px;
  text-align: center;
}

#or::before,
#or::after {
  position: absolute;
  width: 100px;
  height: 1px;
  top: 24px;

  background-color: #aaa;

  content: "";
}

#or::before {
  left: 0;
}

#or::after {
  right: 0;
}

.icons-ul {
  justify-content: center !important;
  display: flex !important;
}

.btn-register {
  margin-top: 0px !important;
  font-size: 18px !important;
  font-weight: 600 !important;
  padding: 0 40px !important;
  margin-right: 1px !important;
  height: 45px !important;
  outline: none !important;
}

.disabled {
  background-color: gray !important;
  cursor: not-allowed;
}

.removed-margins {
  margin-bottom: 0px !important;
}

.removed-paddings {
  padding: 8px !important;
}

.enable-notify {
  display: block !important;
}

.disable-notify {
  display: none !important;
}
.rtlText {
  direction: rtl;
  text-align: right !important;
}
#logoRTL {
  float: left;
}
.rtlIcon {
  left: 0rem;
}
.orRTL {
  width: 402px !important;
}
