<ngx-spinner></ngx-spinner>
<div class="transparent-header" [ngClass]="lang === 'ar' ? 'rtlText' : ''">
  <header id="header-container" class="fullwidth">
    <div id="header" style="border-bottom: 0px;">
      <div class="container">
        <div class="left-side">
          <div id="logo">
            <a>
              <img style="max-height: 55px;" src="assets/images/logos/whitelogo.png"
                data-sticky-logo="assets/images/logos/whitelogo.png" alt="Weds360 logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div [ngClass]="lang === 'ar' ? 'rtlText' : ''" class="main-search-container full-height alt-search-box centered"
    [attr.data-background-image]="bkImage">
    <div class="main-search-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="registerForm" [ngClass]="lang === 'ar' ? 'rtlText' : ''">
              <div class="main-search-input">

                <div class="main-search-input-headline ">
                  <h2>{{labels.REGISTER_NOW}} </h2>
                  <h4 style="margin-bottom: 8px;">{{labels.REGISTER_SUBTITLE}}</h4>
                </div>

                <div [ngClass]="{'enable-notify': showNotification , ' disable-notify' : !showNotification }"
                  class="main-search-input-item closeable removed-margins">
                  <div [ngClass]="{'error': hasErrors ,
                                    'success' : hasSuccessMessages ,
                                    'warning' : hasWarnings ,
                                    'notice' : hasInfo}" class="notification  closeable fullWidth removed-paddings">
                    <p id="notifyMessage"></p>
                  </div>
                </div>


                <!-- Email Errors -->
                <div *ngIf="rf['email'].errors?.required && rf.email.touched"
                  class="main-search-input-item removed-margins">
                  <div class="notification error closeable fullWidth removed-paddings">
                    <p>{{labels.EMAIL_REQUIRED}}.</p>
                  </div>
                </div>

                <div *ngIf="rf['email'].errors?.email && rf.email.touched"
                  class="main-search-input-item removed-margins">
                  <div class="notification error closeable fullWidth removed-paddings">
                    <p>{{labels.VALID_EMAIL}}.</p>
                  </div>
                </div>
                <!-- End Email Errors -->


                <!-- Password Errors -->
                <div *ngIf="rf['password'].errors?.required && rf.password.touched"
                  class="main-search-input-item removed-margins">
                  <div class="notification error closeable fullWidth removed-paddings">
                    <p>{{labels.PASSWORD_REQUIRED}}.</p>
                  </div>
                </div>
                <!-- End Password Errors -->


                <div class="main-search-input-item">
                  <div>
                    <input (keydown)="textChanged()" formControlName="email" type="email"
                      placeholder="example@weds360.com">
                  </div>
                </div>

                <div class="main-search-input-item location">
                  <div>
                    <input formControlName="password" [type]="passwordHidden ? 'password' : 'text'"
                      (keydown)="textChanged()" placeholder="Password">
                  </div>
                  <a (click)="togglePassword()" style="cursor: pointer;">
                    <i *ngIf="!passwordHidden" class="fa fa-eye"></i>
                    <i *ngIf="passwordHidden" class="fa fa-eye-slash"></i>
                  </a>
                </div>

                <div class="main-search-input-item" style="margin-bottom: 0px;">
                  <div id="or">{{labels.OR}}</div>
                </div>

                <div class="main-search-input-item">
                  <ul class="social-icons color rounded icons-ul">
                    <li><a class="facebook" href="#"><i [ngClass]="lang === 'ar' ? 'rtlIcon' : ''"
                          class="icon-facebook"></i></a></li>
                    <!-- <li><a class="twitter" href="#"><i class="icon-twitter"></i></a></li> -->
                    <li><a class="gplus" href="#"><i [ngClass]="lang === 'ar' ? 'rtlIcon' : ''"
                          class="icon-gplus"></i></a></li>
                  </ul>
                  <span *ngIf="!isVendorRegistering" (click)="helpers.changeRegisterationType('vendor')"
                    style="font-size: 15px; cursor: pointer; color: rgb(82, 80, 80); font-weight: 600;"
                    class="icons-ul">
                    <span>
                      <div id="or" class="orRTL ">{{labels.VENDOR_JOIN_US}}</div>
                    </span>
                  </span>

                  <span *ngIf="isVendorRegistering" (click)="helpers.changeRegisterationType('user')"
                    style="font-size: 15px; cursor: pointer; color: rgb(63, 62, 62); font-weight: 600;"
                    class="icons-ul">
                    <span>
                      <div id="or">{{labels.JOIN_AS_USER}}</div>
                    </span>
                  </span>

                  <span (click)="helpers.navigateToLogin()" style="font-size: 13px; cursor: pointer;" class="icons-ul">
                    <span>
                      {{labels.ALREADY_HAVE_ACCOUNT}}
                    </span>
                  </span>

                </div>

                <button (click)="register()" [ngClass]="{'disabled': !registerForm.valid}"
                  [disabled]="!registerForm.valid" class="button fullwidth margin-top-5">
                  {{labels.REGISTER}}

                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
