<div id="titlebar">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.MY_PROFILE}}</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-6 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4 class="gray">{{labels.PROFILE_DETAILS_TITLE}}</h4>
      <div class="dashboard-list-box-static">

        <div class="edit-profile-photo" style="padding: 10px !important; height: 205px !important;">
          <img class="anImage"
            [src]="coverPhotoSource == '' ? 'assets/images/defaults/wedding/cover-photo.png' : coverPhotoSource" alt="">
          <div class="change-photo-btn">
            <div class="photoUpload">
              <span><i class="fa fa-upload"></i> {{labels.UPLOAD_PHOTO}}</span>
              <input type="file" class="upload" />
            </div>
          </div>
        </div>

        <div class="my-profile">

          <label>{{labels.YOUR_NAME}}</label>
          <input value="Tom Perrin" type="text">

          <label>{{labels.EMAIL}}</label>
          <input value="tom@example.com" type="text">

          <label>{{labels.PHONE}}</label>
          <input value="(123) 123-456" type="text">

          <label>{{labels.DOB}}</label>
          <input type="text" id="date-picker" [placeholder]="labels.DOB" readonly="readonly">

          <label>{{labels.GENDER}}</label>
          <select class="chosen-select-no-single">
            <option [label]="labels.SELECT">{{labels.SELECT}}</option>
            <option>{{labels.MALE}}</option>
            <option>{{labels.FEMALE}}</option>
          </select>

          <label>{{labels.CITY}}</label>
          <input [placeholder]="labels.CITY" type="text" autocomplete="sd">

          <label>{{labels.ADDRESS}}</label>
          <input [placeholder]="labels.ADDRESS" type="text">

        </div>

        <button class="button margin-top-15">{{labels.SAVE}}</button>

      </div>
    </div>
  </div>

  <!-- Change Password -->
  <div class="col-lg-6 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4 class="gray">{{labels.CHANGE_PASSWORD_TITLE}}</h4>
      <div class="dashboard-list-box-static">
        <div class="my-profile">
          <label class="margin-top-0">{{labels.CURRENT_PASSWORD}}</label>
          <input type="password" [(ngModel)] = "reset.oldPassword">

          <label>{{labels.NEW_PASSWORD}}</label>
          <input type="password" [(ngModel)] = "reset.newPassword">

          <label>{{labels.CONFIRM_PASSWORD}}</label>
          <input type="password" [(ngModel)] = "reset.confirmNewPassword">

          <button class="button margin-top-15" [ngClass]=" { 'disabled' : reset.newPassword != reset.confirmNewPassword
            || reset.newPassword == '' } "
            (click) = "resetPassword()">{{labels.CHANGE_PASSWORD}}</button>
        </div>

      </div>
    </div>
  </div>
</div>
