<div id="titlebar" class="gradient" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.SERVICE_TITLE}}</h2>
    </div>
  </div>
</div>

<div class="style-2" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="toggle-wrap" style="border-bottom: 0px solid #e0e0e0 !important">
    <span class="trigger">
      <a href="#" style="font-size: 25px !important">
        <i style="font-size: 25px !important" class="fa fa-filter"></i> {{labels.FILTER}}
        <i class="sl sl-icon-plus"></i>
      </a>
    </span>
    <div class="toggle-container" style="padding-bottom: 0px !important; ">
      <div class="row with-forms">
        <div class="col-md-5" [ngClass]="lang === 'ar' ? 'col-md3-RTL' : ''">
          <input type="text" [placeholder]="labels.FILTER_PLACEHOLDER" [(ngModel)]="searchKey">
        </div>

        <div class="col-md-6" align="right" [ngClass]="lang === 'ar' ? 'col-md3-RTL' : ''">
          <a class="button modfied-btn" style="background-color: #046B69;" (click)="search()"> <i
              class="sl sl-icon-magnifier"></i> {{labels.SEARCH}} </a>
          <a class="button modfied-btn" style="background-color: rgb(247, 72, 72);" (click)="clearSearch()"> <i
              class="sl sl-icon-trash"></i> {{labels.RESET}} </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>
        {{labels.SERVICES}}
        <div (click)="navigateToCreateNewService()" style="background-color: #046B69 !important;
              color: white !important;
              cursor: pointer;
              border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">{{labels.ADD_SERVICE}}</strong>
        </div>
      </h4>

      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="20%">{{labels.SERVICE}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="20%">{{labels.VENDOR}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="20%">{{labels.NAME}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="30%">{{labels.DESC}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="10%">{{labels.EDIT}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of servicesList">
              <tr [ngClass]="lang === 'ar' ? 'th' : ''">
                <td>
                  <p>{{ item.type.toLowerCase() }}</p>
                </td>
                <td>
                  <p>{{item.vendorNameEn}}</p>
                </td>
                <td>
                  <p>{{ item.attributes.nameEn }}</p>
                </td>
                <td>
                  <p>{{ item.attributes.descriptionEn }}</p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: #046B69 !important; cursor: pointer; font-size: 20px; font-weight: 600;"
                      (click)="editEntity(item._id)" class="sl sl-icon-pencil"></i></p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row" *ngIf="collectionSize > 0 && showPaging">
  <div class="col-md-12">
    <weds-paging (changePasge)="pageChange($event)" [pageSize]="12" [collectionSize]="servicesList.length"
      [maxSize]="5">
    </weds-paging>
  </div>
</div>
