table{
    table-layout: fixed;
  }
  td { text-align: center;  white-space:nowrap; text-overflow:ellipsis !important;}
  th { text-align: center; }

  .modfied-btn{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    margin-top: 13px !important;
  }
  .col-md3-RTL{
  float:right
}
