<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>{{labels.TITLE}}</h4>
      <ul>

        <li *ngFor="let bookmark of bookmarks">
          <div class="list-box-listing">
            <div class="list-box-listing-img"><a href="#"><img [src]="bookmark.cover" [alt]="bookmark.nameEn"></a></div>
            <div class="list-box-listing-content">
              <div class="inner">
                <h3 *ngIf="lang==='ar'">{{bookmark.nameAr}}</h3>
                <h3 *ngIf="lang==='en'">{{bookmark.nameEn}}</h3>
                <span>{{bookmark.location}}</span>
                <div class="star-rating" data-rating="5.0">
                  <div class="rating-counter"> {{labels.REVIEWS}} ({{bookmark.reviews}})</div>
                </div>
              </div>
            </div>
          </div>
          <div [ngClass]="lang==='ar'?'button-to-left':'buttons-to-right'">
            <!-- <a href="#" class="button gray"> {{labels.DELETE}}</a> -->
            <button class=" button gray" (click)="deleteEntity(bookmark._id)"> {{labels.DELETE}}</button>

          </div>
        </li>

        <ng-container *ngIf="bookmarks.length == 0">
          <li style="height: 250px;">
            <div class="content margin-top-20">
              <img src="assets/images/errors/nothing-found.png">
            </div>
          </li>
        </ng-container>

      </ul>
    </div>
  </div>
</div>

<weds-offer-viewer residesIn="USER_BOOKMARKS_LOVES"></weds-offer-viewer>
