<weds-header [authorizedUser]="false" urlSegment="../../"></weds-header>

<!-- Main video & search bar! -->
<div class="main-search-container dark-overlay centered">
  <div class="main-search-inner">
    <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
      <div class="row">
        <div class="col-md-12">
          <h2>
            {{labels.SEARCH_MAJOUR_TITLE}}
            <!-- <span class="typed-words"></span> -->
          </h2>
          <h4>{{labels.SEARCH_SUB_TITLE}}</h4>

          <div class="main-search-input">

            <div class="main-search-input-item">
              <input type="text" [placeholder]="labels.LOOKING_FOR" value="" />
            </div>


            <div class="main-search-input-item">
              <select data-placeholder="All Location" class="chosen-select">
                <option [selected]='true' disabled value="-1">{{labels.ALL_LOCATIONS}}</option>
                <option *ngFor="let area of allAreas" [value]="area._id">
                  {{ lang==='en'? area.nameEn:area.nameAr}}
                </option>
              </select>
            </div>


            <div class="main-search-input-item">
              <select data-placeholder="All Categories" class="chosen-select">
                <option [selected]='true' disabled value="-1">{{labels.ALL_CATEGORIES}}</option>
                <option *ngFor="let category of allCategories" [value]="category._id">
                  {{ lang==='en'? category.nameEn:category.nameAr}}
                </option>
              </select>
            </div>
            <button class="button"
              onclick="window.location.href='listings-half-screen-map-list.html'">{{labels.SEARCH}}</button>

          </div>


        </div>
      </div>
    </div>

  </div>

  <div class="video-container">
    <video poster="assets/images/defaults/video/intro-cover.png" loop autoplay muted>
      <source src="assets/videos/intro video/intro.mp4" type="video/mp4">
    </video>
  </div>
</div>





<!-- Categories Carousel -->
<div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="row">

    <div class="col-md-12">
      <h3 class="headline centered margin-top-75">
        {{labels.POPULAR_CATEGORIES}}
        <span>{{labels.POPULAR_CATEGORIES_SUB}}</span>
      </h3>
    </div>

  </div>
</div>
<div class="fullwidth-carousel-container margin-top-25">
  <div class="fullwidth-slick-carousel category-carousel">

    <ng-container *ngFor="let item of allCategories">
      <div class="fw-carousel-item">
        <div class="category-box-container">
          <a class="category-box" [attr.data-background-image]="item.photo">
            <div class="category-box-content">
              <h3>{{ lang==='en'? item.nameEn:item.nameAr}}</h3>
              <!-- <span>54 Seller</span> -->
            </div>
            <span class="category-box-btn">{{labels.BROWSE}}</span>
          </a>
        </div>
      </div>
    </ng-container>
  </div>
</div>





<!-- Areas -->
<div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="row">

    <div class="col-md-12">
      <h3 class="headline centered margin-bottom-35 margin-top-70">{{labels.POPULAR_CITIES}}
        <!-- <span>Browse listings in popular
          places</span> -->
      </h3>
    </div>

    <div class="col-md-6" *ngFor="let area of allAreas">

      <a href="#" class="img-box" data-background-image="https://via.placeholder.com/350">
        <div class="img-box-content visible">
          <h4>{{lang==='ar'?area.nameAr:area.nameEn}} </h4>
          <!-- <sp  an>14 Listings</sp> -->
        </div>
      </a>

    </div>


  </div>
</div>





<!-- Blogs Featured -->
<section class="fullwidth margin-top-0 padding-top-75 padding-bottom-10" data-background-color="#fff">
  <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">

    <div class="row">
      <div class="col-md-12">
        <h3 class="headline centered margin-top-50">
          {{labels.FROM_BLOG}}
          <span>{{labels.BLOG_SUB}}</span>
        </h3>
      </div>
    </div>

    <div class="row">
      <!-- Blog Post Item -->
      <div class="col-md-4" *ngFor="let blog of blogs">
        <a class="blog-compact-item-container" style="cursor: pointer;" (click)="navigateToBlog(blog.titleEn,blog._id)">
          <div class="blog-compact-item">
            <img *ngIf="blog.featuredImage ===''" [src]="defaultBlogImage" [alt]="blog.titleEn">
            <img *ngIf="blog.featuredImage !==''" [src]="blog.featuredImage" [alt]="blog.titleEn">
            <span *ngIf="lang==='ar' && blog.categoryNameArabic!==''" class="blog-item-tag">{{blog.categoryNameArabic |
              truncate: 15}}</span>
            <span *ngIf="lang==='en' && blog.categoryNameEnglish!==''" class="blog-item-tag">{{blog.categoryNameEnglish
              | truncate: 15}}</span>
            <!-- <span class="blog-item-tag">{{lang==='ar'?blog.categoryNameArabic:blog.categoryNameEnglish}}</span> -->
            <div class="blog-compact-item-content">
              <ul class="blog-post-tags">
                <li>{{blog.publishedAt}}</li>
              </ul>
              <h3>{{(lang==='ar'?blog.titleAr:blog.titleEn)| truncate: 20}}</h3>
              <p>{{(lang==='ar'?blog.subtitleAr:blog.subtitleEn| truncate: 25)}}</p>
            </div>
          </div>
        </a>
      </div>
      <!-- Blog post Item / End -->



      <div class="col-md-12 centered-content">
         <a [href]="postsURL" class="button border margin-top-10">{{labels.VIEW_BLOG}}</a>
      </div>

    </div>

  </div>
</section>





<!-- SignUp header -->
<a href="listings-half-screen-map-list.html" class="flip-banner parallax margin-top-20"
  data-background="images/slider-bg-02.jpg" data-color="#046b69" data-color-opacity="0.85" data-img-width="2500"
  data-img-height="1666">
  <div class="flip-banner-content">
    <h2 class="flip-visible" style="font-size: 22px;">{{labels.CONGRATS}}<br>
      {{labels.CAN_COUNT}}.</h2>
    <h2 class="flip-hidden">{{labels.REGISTER_NOW}}<i class="sl sl-icon-arrow-right"></i></h2>
  </div>
</a>





<!-- Info Section -->
<section class="fullwidth padding-top-75 padding-bottom-70" data-background-color="#f9f9f9">
  <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="headline centered headline-extra-spacing">
          <strong class="headline-with-separator">{{labels.PLAN_WEDDING}}</strong>
          <span class="margin-top-25">{{labels.PLAN_WEDDING_SUBTITLE}}.</span>
        </h3>
      </div>
    </div>

    <div class="row icons-container">
      <div class="col-md-4">
        <div class="icon-box-2 with-line">
          <i class="im im-icon-Map2"></i>
          <h3>{{labels.FIND_PLACE}}</h3>

        </div>
      </div>

      <div class="col-md-4">
        <div class="icon-box-2 with-line">
          <i class="im im-icon-Mail-withAtSign"></i>
          <h3>{{labels.CONTACT_OWNER}}</h3>

        </div>
      </div>

      <div class="col-md-4">
        <div class="icon-box-2">
          <i class="im im-icon-Checked-User"></i>
          <h3>{{labels.RESERVATION}}</h3>

        </div>
      </div>
    </div>



  </div>
</section>


<div id="backtotop"><a href="#"></a></div>
<weds-footer></weds-footer>
