@media (max-width: 767px) {
  #registry .registry-title {
    margin-top: 80px;
  }

  .navbar-fixed-bottom,
  .navbar-fixed-top {
    width: 100%;
    left: 0;
    text-align: center;
  }

  .navbar-inverse .navbar-collapse,
  .navbar-inverse .navbar-form {
    background-color: white;
  }

  .navbar-brand {
    margin-bottom: 10px;
  }

  #top-section {
    height: 400px;
  }

  .top-image h1 {
    font-size: 40px;
  }

  #date--txt,
  #getting--married--txt {
    font-size: 20px;
    line-height: 1.5;
  }

  .cover-photo {
    height: 300px;
  }

  #span--css,
  #wedding--para,
  #wedding--para1 {
    font-size: 16px;
  }

  #registry {
    width: 100%;
  }

  .navbar-toggle {
    background-color: black;
  }
}
/* =================================
Media Queries
==================================== */
@media screen and (max-width: 1200px) {
  .leaves {
    height: 54%;
  }
}
@media screen and (max-width: 991px) {
  .couple-name {
    font-size: 23px;
    margin-left: 44px;
  }

  .nav-bar ul {
    margin-top: 64px;
  }

  .nav-bar ul li a {
    font-size: 18px;
  }

  .leaves {
    height: 52%;
  }

  #attending-question {
    font-size: 25px;
  }

  .boarder-container {
    width: 60%;
    height: 470px;
  }

  .boarder {
    height: 445px;
  }

  .text-style-1 {
    font-size: 18px;
    margin-top: 0;
  }

  .text-style-2 {
    font-size: 23px;
  }

  .add-margin {
    margin-top: 120px!important;
  }

  .couple-picture {
    width: 90%;
    margin: auto;
    height: 260px;
  }

  .story-headline {
    font-size: 35px;
  }

  .story-details {
    font-size: 23px;
  }

  #event-details-headine {
    font-size: 28px;
  }

  #when-where {
    font-size: 23px;
  }

  .text-style-3 {
    font-size: 20px;
  }

  .event-details {
    height: 240px;
  }

  .attending {
    height: 200px;
  }

  .btn-outline-primary {
    font-size: 20px;
  }
}
@media screen and (max-width: 767px) {
  .couple-name {
    font-size: 20px;
    margin-left: 36px;
  }

  .nav-bar ul {
    margin-top: 60px;
  }

  .nav-bar ul li a {
    font-size: 15px;
  }

  .leaves {
    height: 40%;
    margin-top: 58px;
  }

  #attending-question {
    font-size: 27px;
  }

  .story-text {
    width: 100%;
  }

  .boarder-container {
    width: 60%;
    height: 450px;
  }

  .boarder {
    height: 425px;
  }

  .text-style-1 {
    font-size: 16px;
    margin-top: 0;
  }

  .text-style-2 {
    font-size: 18px;
  }

  .add-margin {
    margin-top: 90px!important;
  }

  .couple-picture {
    width: 90%;
    margin: auto;
    height: 260px;
  }

  .story-headline {
    font-size: 33px;
  }

  .story-details {
    font-size: 19px;
  }

  #event-details-headine {
    font-size: 26px;
  }

  #when-where {
    font-size: 21px;
  }

  .text-style-3 {
    font-size: 18px;
  }

  .event-details {
    height: 220px;
  }

  .attending {
    height: 250px;
  }

  .btn-outline-primary {
    font-size: 18px;
  }

  #registry th {
    width: 35%;
    font-size: 25px;
    text-align: center;
  }
}
@media screen and (max-width: 575px) {
  .couple-name {
    font-size: 20px;
    margin-left: 24px;
  }

  .nav-bar ul {
    margin-top: 60px;
  }

  .nav-bar ul li a {
    font-size: 15px;
  }

  .leaves {
    margin-top: 20%;
    height: 29%;
  }

  #attending-question {
    font-size: 22px;
  }

  .story-text {
    width: 100%;
  }

  .boarder-container {
    width: 70%;
    height: 400px;
  }

  .boarder {
    height: 375px;
  }

  .text-style-1 {
    font-size: 13px;
    margin-top: 0;
  }

  .text-style-2 {
    font-size: 18px;
  }

  .add-margin {
    margin-top: 60px!important;
  }

  .couple-picture {
    width: 90%;
    margin: auto;
    height: 260px;
  }

  .story-headline {
    font-size: 30px;
  }

  .story-details {
    font-size: 18px;
  }

  #event-details-headine {
    font-size: 23px;
  }

  #when-where {
    font-size: 18px;
  }

  .text-style-3 {
    font-size: 15px;
  }

  .event-details {
    height: 220px;
  }

  .attending {
    height: 220px;
  }

  .btn-outline-primary {
    font-size: 15px;
  }

  .event {
    font-size: 19px;
  }

  .events .event-wrapper a.going-btn.active,
  .events .event-wrapper a:focus.active,
  .events .event-wrapper a:hover.active {
    font-size: 15px;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 15px;
  }

  #registry th {
    width: 35%;
    font-size: 13px;
    text-align: left;
  }

  #event-details-headine {
    font-size: 17px;
  }

  #attending-question {
    font-size: 18px;
  }

  .event {
    font-size: 17px;
  }

  #registry th {
    width: 35%;
    font-size: 10px;
    text-align: left;
  }

  #registry .price {
    font-size: 16px;
  }
}