<div class="row">
    <div class="col-lg-12">

        <div id="add-listing">

            <div class="add-listing-section">

                <div class="add-listing-headline">
                    <h3><i class="sl sl-icon-note"></i> Offer information</h3>
                </div>

                <div class="row with-forms">
                    <div class="col-md-6">
                        <h5>Title En</h5>
                        <input class="search-field" type="text" value="" />
                    </div>

                    <div class="col-md-6">
                        <h5>Title Ar</h5>
                        <input class="search-field" type="text" value="" />
                    </div>
                </div>

                <div class="row with-forms">
                    <div class="col-md-6">
                        <h5>Description En</h5>
                        <textarea class="search-field" type="text" value=""></textarea>
                    </div>

                    <div class="col-md-6">
                        <h5>Description Ar</h5>
                        <textarea class="search-field" type="text" value=""></textarea>
                    </div>
                </div>


                <div class="row with-forms">
                    <div class="col-md-6">
                        <h5>Vendor</h5>
                        <select class="chosen-select-no-single">
                            <option>User</option>
                            <option>Admin</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <h5>Resides In</h5>
                        <input class="search-field" type="text" value="" />
                      </div>
                </div>

                <div class="row with-forms">
                    <div class="col-md-6">
                        <h5>Image</h5>
                        <div class="edit-profile-photo" style="padding: 10px !important; height: 205px !important;">
                            <img class="anImage"
                                [src]="coverPhotoSource == '' ? 'assets/images/defaults/wedding/cover-photo.png' : coverPhotoSource"
                                alt="">
                            <div class="change-photo-btn">
                                <div class="photoUpload">
                                    <span><i class="fa fa-upload"></i> Upload Photo</span>
                                    <input type="file" class="upload" (change)="onFileSelected($event)" />
                                </div>
                            </div>
                        </div>
                    </div>              
                </div>
            </div>
        </div>
    </div>
</div>

<a style="background-color: #F91942 !important;" class="button preview" (click)="backToRoute()">
    Cancel <i class="sl sl-icon-close"></i>
</a>
<a class="button preview" (click)="navigateToOffersDefaults()">Save Changes <i class="sl sl-icon-check"></i></a>