<div id="titlebar" class="gradient">
    <div class="row">
      <div class="col-md-12">
        <h2>Create the defaults events items.</h2>
      </div>
    </div>
  </div>
  
  
  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="dashboard-list-box margin-top-0">
        <h4>
          Default Events
  
          <div
            (click)="navigateToCreateNewEvent()"
            style="background-color: #046B69 !important;
              color: white !important;
              cursor: pointer;
              border-radius: 20px;"
              class="comission-taken">
            <i class="im im-icon-Pencil"></i> &nbsp;
            <strong style="color: white !important">Create New Event Item</strong>
          </div>
        </h4>
  
        <div class="col-md-12" style="background-color: white;">
          <table class="table borderless">
            <thead>
              <tr>
                <th scope="col" width="29%">Event</th>
                <th scope="col" width="68%">Description</th>
                <th scope="col" width="2%">Delete</th>
                <th scope="col" width="2%">Edit</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <p style="font-size: 20px; font-weight: 600;">CREATE A WEDDING BINDER</p>
                </td>
                <td>
                  <p>It’s good to keep all your wedding planning documents in one place by staying organized. Time to pull a Monica Geller.</p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: rgb(233, 80, 80); font-size: 20px; font-weight: 600;" class="sl sl-icon-trash"></i></p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: rgb(80, 121, 233); font-size: 20px; font-weight: 600;" class="sl sl-icon-pencil"></i></p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <div class="clearfix"></div>
  
  <div class="row">
    <div class="col-md-12">
      <weds-paging (changePasge)="pageChange($event)" [pageSize]="12" [collectionSize]="120" [maxSize]="5">
      </weds-paging>
    </div>
  </div>
  