<weds-header></weds-header>

<!-- Main video & search bar! -->
<div class="main-search-container dark-overlay centered">
    <div class="main-search-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
					<h2>
						Find Most Amazing 
                        <span class="typed-words"></span>
					</h2>
					<h4>Expolore top-rated attractions, activities and more</h4>

                    <div class="main-search-input">

                        <div class="main-search-input-item">
                            <input type="text" placeholder="What are you looking for?" value="" />
                        </div>

                        <div class="main-search-input-item location">
                            <div id="autocomplete-container">
                                <input id="autocomplete-input" type="text" placeholder="Location">
                            </div>
                            <a href="#"><i class="fa fa-map-marker"></i></a>
                        </div>

                        <div class="main-search-input-item">
                            <select data-placeholder="All Categories" class="chosen-select">
                                <option>All Categories</option>
                                <option>Shops</option>
                                <option>Hotels</option>
                                <option>Restaurants</option>
                                <option>Fitness</option>
                                <option>Events</option>
                            </select>
                        </div>

                        <button class="button"
                            onclick="window.location.href='listings-half-screen-map-list.html'">Search</button>

                    </div>
                </div>
            </div>

            <!-- <div class="row">
				<div class="col-md-12">
					<h5 class="highlighted-categories-headline ">Or browse featured categories:</h5>
					  
					<div class="highlighted-categories">
						<a href="listings-list-with-sidebar.html" class="highlighted-category">
					    	<i class="im im-icon-Camera"></i>
					    	<h4>Photographers</h4>
						</a>	

						<a href="listings-list-full-width.html" class="highlighted-category">
					    	<i class="im im-icon-Dress"></i>
					    	<h4>Dresses</h4>
						</a>	

						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<i class="im im-icon-Suit"></i>
					    	<h4>Suits</h4>
						</a>	

						<a href="listings-half-screen-map-list.html" class="highlighted-category">
					    	<i class="im im-icon-Diamond"></i>
					    	<h4>Rings</h4>
						</a>		
					</div>
					
				</div>
			</div> -->
        </div>

    </div>

    <div class="video-container">
        <video poster="assets/images/defaults/video/intro-cover.png" loop autoplay muted>
            <source src="assets/videos/intro video/intro.mp4" type="video/mp4">
        </video>
    </div>
</div>



<weds-footer></weds-footer>