<div class="approved-booking">
  <div class="list-box-listing bookings">
    <div class="list-box-listing-img">
      <p class="calendar">10 <em>April</em></p>
    </div>
    <div class="list-box-listing-content">
      <div class="inner">
        <h3 style="font-size: 25px;">Engagment Day
          <span
            style="border-radius: 0px !important; font-size: 17px; background-color: #c40505 !important; color: rgb(255, 255, 255) !important"
            class="booking-status">18 Day</span>
        </h3>

        <div class="inner-booking-list">
          <h5 style="font-size: 20px;">Guests: </h5> &nbsp;
          <ul class="booking-list">
            <li
              style="font-size: 17px; cursor: pointer;
                background-color: rgb(140, 212, 112) !important; color: rgb(255, 255, 255) !important"
              class="highlighted">2 Going</li>
          </ul>
          <ul class="booking-list">
            <li style="font-size: 17px; cursor: pointer;
              background-color: rgb(75, 74, 74) !important; color: rgb(255, 255, 255) !important"
              class="highlighted">2 Declined</li>
          </ul>
          <ul class="booking-list">
            <li
              style="font-size: 17px; cursor: pointer;
                background-color: rgb(75, 74, 74) !important; color: rgb(255, 255, 255) !important"
              class="highlighted">2 Invited</li>
          </ul>
          <ul class="booking-list">
            <li
              style="font-size: 17px; cursor: pointer;
                background-color: rgb(75, 74, 74) !important; color: rgb(255, 255, 255) !important"
              class="highlighted">2 No Response</li>
          </ul>
        </div>

        <div class="inner-booking-list">
          <ul class="booking-list">
            <li>22/10/2021</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>My Guests</h4>
      <ul>

        <li style="padding-top: 2px !important;">
          <div class="list-box-listing">
            <div class="list-box-listing-content">
              <div class="inner">
                <h3>Alameer Ashraf Hassan</h3>
                <span>Congrats, My dear!</span>
              </div>
            </div>
          </div>
          <div class="buttons-to-right">
            <a href="#" class="button gray"><i class="sl sl-icon-close"></i> Delete</a>
          </div>
        </li>

        <li style="padding-top: 2px !important;">
          <div class="list-box-listing">
            <div class="list-box-listing-content">
              <div class="inner">
                <h3>Alameer Ashraf Hassan</h3>
                <span>Congrats, My dear!</span>
              </div>
            </div>
          </div>
          <div class="buttons-to-right">
            <a href="#" class="button gray"><i class="sl sl-icon-close"></i> Delete</a>
          </div>
        </li>

        <li style="padding-top: 2px !important;">
          <div class="list-box-listing">
            <div class="list-box-listing-content">
              <div class="inner">
                <h3>Alameer Ashraf Hassan</h3>
                <span>Congrats, My dear!</span>
              </div>
            </div>
          </div>
          <div class="buttons-to-right">
            <a href="#" class="button gray"><i class="sl sl-icon-close"></i> Delete</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>
