<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your Registry List</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>

<div class="row margin-bottom-20">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Select your template
      </h4>
      <div style="padding: 8px !important;">
        <div class="row">

          <div class="col-md-3">
            <div class="fw-carousel-item">
              <a (click)="selectTemplate($event , 'template1')" class="listing-item-container compact">
                <div class="listing-item">
                  <img
                    src="https://weds360-production.s3.eu-west-1.amazonaws.com/store/theme/1/image/medium-9aa0c8fce8cb5f6e41730cabba6400b3.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIA3XIBZMGBAF2YAFWK%2F20210401%2Feu-west-1%2Fs3%2Faws4_request&X-Amz-Date=20210401T200131Z&X-Amz-Expires=900&X-Amz-SignedHeaders=host&X-Amz-Signature=13ece40be72fa7b93a24fd775bf4ec4c60bb8a22f731e8e43557ba7b71e718f6"
                    alt="">

                  <div class="listing-item-content">
                    <h3>Save the date theme</h3>
                  </div>
                  <span id="template1" [ngClass]="{ 'liked' : is }" class="like-icon"></span>
                </div>
              </a>
            </div>
          </div>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-bottom-20">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Pre-wedding marital ceremony
      </h4>
      <div style="padding: 10px !important;">
        <div class="row">
          <div class="col-md-6">
            <label>Select the date </label>
            <input type="text" id="date-picker" placeholder="Date" readonly="readonly">
          </div>

          <div class="col-md-3">
            <label>Select perfect hour </label>
            <select class="chosen-select-no-single">
              <option label="blank">Perfect Hour</option>
              <option>New York</option>
              <option>Los Angeles</option>
              <option>Chicago</option>
              <option>Houston</option>
              <option>Phoenix</option>
              <option>San Diego</option>
              <option>Austin</option>
            </select>
          </div>

          <div class="col-md-3">
            <label>More specific</label>
            <select class="chosen-select-no-single">
              <option label="blank">Perfect Minute</option>
              <option>New York</option>
              <option>Los Angeles</option>
              <option>Chicago</option>
              <option>Houston</option>
              <option>Phoenix</option>
              <option>San Diego</option>
              <option>Austin</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row margin-bottom-20">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Wedding date & time
      </h4>
      <div style="padding: 10px !important;">
        <div class="row">
          <div class="col-md-6">
            <label>Select the date </label>
            <input type="text" id="date-picker" placeholder="Date" readonly="readonly">
          </div>

          <div class="col-md-3">
            <label>Select perfect hour </label>
            <select class="chosen-select-no-single">
              <option label="blank">Perfect Hour</option>
              <option>New York</option>
              <option>Los Angeles</option>
              <option>Chicago</option>
              <option>Houston</option>
              <option>Phoenix</option>
              <option>San Diego</option>
              <option>Austin</option>
            </select>
          </div>

          <div class="col-md-3">
            <label>More specific</label>
            <select class="chosen-select-no-single">
              <option label="blank">Perfect Minute</option>
              <option>New York</option>
              <option>Los Angeles</option>
              <option>Chicago</option>
              <option>Houston</option>
              <option>Phoenix</option>
              <option>San Diego</option>
              <option>Austin</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="row margin-bottom-20">
  <div class="col-lg-3 col-md-3">
    <div class="dashboard-list-box margin-top-0">
      <h4>Cover Photo
      </h4>
      <div class="row" style="padding: 10px !important; height: 205px !important;">
        <div class="col-md-12">
          <div class="edit-profile-photo">
            <img class="anImage"
              [src]="coverPhotoSource == '' ? 'assets/images/defaults/wedding/cover-photo.png' : coverPhotoSource"
              alt="">
            <div class="change-photo-btn">
              <div class="photoUpload">
                <span><i class="fa fa-upload"></i> Upload Photo</span>
                <input type="file" class="upload" (change)="onFileSelected($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9">
    <div class="dashboard-list-box margin-top-0">
      <h4>Gallery
      </h4>
      <div class="row" style="padding: 10px !important;">
        <div class="col-md-12">
          <ngx-dropzone (change)="onSelect($event)">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label></ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
      </div>
    </div>
  </div>




</div>

<div class="row margin-bottom-20">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Website Location & Venue Location
      </h4>
      <div style="padding: 10px !important;">
        <div class="row">
          <div class="col-md-6">
            <label>Write a remembale and special URL for your website </label>
            <input type="text" placeholder="website URL">
            <textarea [value]="address" cols="40" rows="4" placeholder="Your Detailed Address, write it or let us!"></textarea>
          </div>

          <div class="col-md-6">
            <label>Your venue location details</label>
            <div class="form-group">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Venue Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>

            <div>
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"
                  ></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<a style="background-color: #F91942 !important;" class="button preview">
  Cancel <i class="sl sl-icon-close"></i>
</a>
<a class="button preview" (click)="createNewWebsiteRequest()">Save Changes <i class="sl sl-icon-check"></i></a>
