<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your Registry List</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>

<div class="row margin-bottom-20">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Select your template
      </h4>
      <div style="padding: 8px !important;">
        <div class="row">


          <ng-container *ngFor = "let themeTemplate of themesTemplates">
            <div class="col-md-3">
              <div class="fw-carousel-item">
                <a (click)="selectTemplate($event , themeTemplate._id)" class="listing-item-container compact">
                  <div class="listing-item">
                    <img [src]="themeTemplate.image" alt="">

                    <div class="listing-item-content">
                      <h3>{{ themeTemplate.name }}</h3>
                    </div>
                    <span [id]="themeTemplate._id" [ngClass]="{ 'liked' : themeTemplate.isThemeSelected }" class="like-icon"></span>
                  </div>
                </a>
              </div>
            </div>
          </ng-container>


        </div>
      </div>
    </div>
  </div>
</div>

<div class="row margin-bottom-20">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Wedding & Pre-wedding ceremonies
      </h4>
      <div style="padding: 10px !important;">
        <div class="row">
          <div class="col-md-6">
            <label>Pre-wedding marital ceremony</label>
            <input type="datetime-local" placeholder="Date" [(ngModel)] = "weddingWebsite.preWeddingMaritalCeremony">
          </div>

          <div class="col-md-6">
            <label>Wedding Date and time</label>
            <input type="datetime-local" placeholder="Date" [(ngModel)] = "weddingWebsite.weddingTime">
          </div>

        </div>
      </div>
    </div>
  </div>

</div>


<div class="row margin-bottom-20">
  <div class="col-lg-3 col-md-3">
    <div class="dashboard-list-box margin-top-0">
      <h4>Cover Photo
      </h4>
      <div class="row" style="padding: 10px !important; height: 205px !important;">
        <div class="col-md-12">
          <div class="edit-profile-photo">
            <img class="anImage" [src]="weddingWebsite.coverImage" alt="">
            <div class="change-photo-btn">
              <div class="photoUpload">
                <span><i class="fa fa-upload"></i> Upload Photo</span>
                <input type="file" class="upload" (change)="onCoverPhotoChanged($event)" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-lg-9 col-md-9">
    <div class="dashboard-list-box margin-top-0">
      <h4>Gallery
      </h4>
      <div class="row" style="padding: 10px !important;">
        <div class="col-md-12">
          <ngx-dropzone  #nationalDropZone (change)="onSelect($event)">
            <ngx-dropzone-label>Drop it, baby!</ngx-dropzone-label>
            <ngx-dropzone-image-preview  ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
              <ngx-dropzone-label></ngx-dropzone-label>
            </ngx-dropzone-image-preview>
          </ngx-dropzone>
        </div>
      </div>
    </div>
  </div>




</div>

<div class="row margin-bottom-20">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Website Location & Venue Location
      </h4>
      <div style="padding: 10px !important;">
        <div class="row">
          <div class="col-md-6">
            <label>Write a remembale and special URL for your website
              <i
                *ngIf="isRouteAlreadyExists"
                style="background-color: #d27575;"
                class="tip" data-tip-content="This route is already selected, try another one!."></i>
            </label>
            <input
              [ngClass] = "{ 'error-text' : isRouteAlreadyExists }"
              [(ngModel)] = "weddingWebsite.routeURL"
              type="text" placeholder="website URL" (focusout)="checkWeddingWebsiteRouteUniqness()">
            <textarea [value]="address" cols="40" rows="4" placeholder="Your Detailed Address, write it or let us!"></textarea>
          </div>

          <div class="col-md-6">
            <label>Your venue location details</label>
            <div class="form-group">
              <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Venue Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
            </div>

            <div>
              <agm-map [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
                <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true" (dragEnd)="markerDragEnd($event)"
                  ></agm-marker>
              </agm-map>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<a style="background-color: #F91942 !important;" class="button preview">
  Cancel <i class="sl sl-icon-close"></i>
</a>
<a class="button preview" [ngClass] = "{ 'disabled' : saveDisabled }"
  (click)="createNewWebsiteRequest()">Save Changes <i class="sl sl-icon-check"></i></a>
