<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12">
    <div id="add-listing">
      <div class="add-listing-section">
        <div class="add-listing-headline" style="padding: 25px;">
          <h3><i class="im im-icon-Heart-2"></i> {{labels.ADD_RING}}</h3>
        </div>

        <div class="row with-forms">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="dashboard-list-box-static margin-top-0" style="padding: 0px;">
                <div class="my-profile">

                  <label class="margin-top-0">{{labels.NAME_ENGLISH}}</label>
                  <input placeholder="{{labels.NAME_ENGLISH}}" type="text" [(ngModel)]="ring.nameEn">

                  <label>{{labels.DESC_ENGLISH}}</label>
                  <textarea placeholder="{{labels.DESC_ENGLISH}}" [(ngModel)]="ring.descriptionEn"></textarea>

                  <label>{{labels.PURITY}}</label>
                  <select id="purity" class="chosen-select-no-single">
                    <option label="{{labels.SELECT}}" value="">{{labels.SELECT}}</option>
                    <ng-container *ngFor="let purity of purityList">
                      <option [selected]="purity.purity === ring.purity" [value]="purity.purity">{{ purity.name }}
                      </option>
                    </ng-container>
                  </select>

                  <label>{{labels.STONE_SHAPE}}</label>
                  <select id="stoneShapes" class="chosen-select-no-single">
                    <option label="{{labels.SELECT}}" value="">{{labels.SELECT}}</option>
                    <ng-container *ngFor="let stoneShape of stoneShapeList">
                      <option [selected]="stoneShape.stone_shape === ring.stoneShape" [value]="stoneShape.stone_shape">
                        {{
                        stoneShape.name }}</option>
                    </ng-container>
                  </select>

                  <label>{{labels.METAL}}</label>
                  <input placeholder="{{labels.METAL}}" type="text" [(ngModel)]="ring.metal">

                  <label>{{labels.PRICE}}</label>
                  <input placeholder="{{labels.PRICE}}" type="text" [(ngModel)]="ring.price">

                  <label>{{labels.TAG_ENGLISH}}</label>
                  <select id="tagsEn" data-placeholder="Select Multiple Items" class="chosen-select" multiple>
                    <option *ngFor="let tag of tagsEn" [selected]="enTagsContainsTag(tag._id)" [value]="tag._id">
                      {{ tag.name }}
                    </option>
                  </select>

                  <label>{{labels.GENDER}}</label>
                  <select id="gender" class="chosen-select-no-single">
                    <option label="{{labels.SELECT}}" value="">{{labels.SELECT}}</option>
                    <option [selected]="ring.gender === 'Male'" value="Male">{{labels.MALE}}</option>
                    <option [selected]="ring.gender === 'Female'" value="Female">{{labels.FEMALE}}</option>
                  </select>

                  <div class="edit-profile-photo" style="padding: 10px !important; height: 205px !important;">
                    <img class="anImage" [src]="ring.image" alt="">
                    <div class="change-photo-btn">
                      <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> {{labels.UPLOAD_PHOTO}}</span>
                        <input type="file" class="upload" (change)="uploadImage($event)" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="dashboard-list-box-static margin-top-0" style="padding: 0px;">
                <div class="my-profile">
                  <label class="margin-top-0">{{labels.NAME_ARABIC}}</label>
                  <input placeholder="{{labels.NAME_ARABIC}}" [(ngModel)]="ring.nameAr" type="text">

                  <label>{{labels.DESC_ARABIC}}</label>
                  <textarea placeholder="{{labels.DESC_ARABIC}}" [(ngModel)]="ring.descriptionAr"></textarea>

                  <label>{{labels.CATEGORY}}</label>
                  <select id="categories" class="chosen-select-no-single">
                    <option label="{{labels.SELECT}}" value="">{{labels.SELECT}}</option>
                    <ng-container *ngFor="let category of categories">
                      <option [selected]="category._id === service.category" [value]="category._id">{{ category.nameEn }}
                      </option>
                    </ng-container>
                  </select>

                  <label>{{labels.CLARITY}}</label>
                  <select id="clarity" class="chosen-select-no-single">
                    <option label="{{labels.SELECT}}" value="">{{labels.SELECT}}</option>
                    <ng-container *ngFor="let clarity of clarityList">
                      <option [selected]="clarity.clarity === ring.clarity" [value]="clarity.clarity">{{ clarity.name }}
                      </option>
                    </ng-container>
                  </select>

                  <label>{{labels.STYLE}}</label>
                  <input placeholder="{{labels.STYLE}}" [(ngModel)]="ring.style" type="text">

                  <label>{{labels.DESIGNER}}</label>
                  <input placeholder="{{labels.DESIGNER}}" [(ngModel)]="ring.designer" type="text">

                  <label>{{labels.TAG_ARABIC}}</label>
                  <select id="tagsAr" data-placeholder="Select Multiple Items" class="chosen-select" multiple>
                    <option *ngFor="let tag of tagsAr" [selected]="arTagsContainsTag(tag._id)" [value]="tag._id">
                      {{ tag.name }}
                    </option>
                  </select>

                  <label>{{labels.VENDOR}}</label>
                  <select id="vendors" class="chosen-select-no-single">
                    <option label="{{labels.SELECT}}" value="">{{labels.SELECT}}</option>
                    <ng-container *ngFor="let vendor of vendors">
                      <option [selected]="vendor._id === service.vendor" [value]="vendor._id">{{ vendor.nameEn }}
                      </option>
                    </ng-container>
                  </select>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [align]="lang==='ar'?'left':'right'">
        <a style="background-color: #F91942 !important;" class="button preview" (click)="backToRoute()">
          {{labels.CANCEL}} <i class="sl sl-icon-close"></i>
        </a>
        <a *ngIf="editingMode == 'new'" class="button preview" (click)="createNewEntity()">{{labels.SAVE}} <i
            class="sl sl-icon-check"></i></a>
        <a *ngIf="editingMode == 'update'" class="button preview"
          (click)="updateExistingEntity(service._id)">{{labels.UPDATE}} <i class="sl sl-icon-check"></i></a>
      </div>
    </div>
  </div>
</div>
