<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12">
    <div id="add-listing">
      <div class="add-listing-section">
        <div class="add-listing-headline" style="padding: 25px;">
          <h3><i class="im im-icon-Heart-2"></i> {{labels.ADD_RING}}</h3>
        </div>

        <div class="row with-forms">
          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="dashboard-list-box-static margin-top-0" style="padding: 0px;">
                <div class="my-profile">

                  <label class="margin-top-0">{{labels.NAME_ENGLISH}}</label>
                  <input value="Tom Perrin" type="text">

                  <label>{{labels.DESC_ENGLISH}}</label>
                  <textarea></textarea>

                  <label>{{labels.SERVICE}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT_SERVICE">{{labels.SELECT_SERVICE}}</option>
                    <option>{{labels.DRESS}}</option>
                    <option>{{labels.RING}}</option>
                  </select>

                  <label>{{labels.PURITY}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT">{{labels.SELECT}}</option>
                    <option>{{labels.TALL}}</option>
                    <option>{{labels.SHORT}}</option>
                  </select>

                  <label>{{labels.STONE_SHAPE}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT">{{labels.SELECT}}</option>
                    <option>{{labels.TALL}}</option>
                    <option>{{labels.SHORT}}</option>
                  </select>

                  <label>{{labels.METAL}}</label>
                  <input value="metal" type="text" [(ngModel)]="ring.metal">

                  <label>{{labels.PRICE}}</label>
                  <input value="price" type="text">

                  <label>{{labels.TAG_ENGLISH}}</label>
                  <input value="Tags en" type="text">

                  <div class="edit-profile-photo" style="padding: 10px !important; height: 205px !important;">
                    <img class="anImage" [src]="'assets/images/defaults/wedding/cover-photo.png'" alt="">
                    <div class="change-photo-btn">
                      <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> {{labels.UPLOAD_PHOTO}}</span>
                        <input type="file" class="upload" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-6 col-md-12">
              <div class="dashboard-list-box-static margin-top-0" style="padding: 0px;">
                <div class="my-profile">
                  <label class="margin-top-0"> {{labels.NAME_ARABIC}}</label>
                  <input value="توم" type="text">

                  <label>{{labels.DESC_ARABIC}}</label>
                  <textarea></textarea>

                  <label>{{labels.CATEGORY}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT">{{labels.SELECT}}</option>
                    <option>{{labels.HIM}}</option>
                    <option>{{labels.HER}}</option>
                  </select>

                  <label>{{labels.CLARITY}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT">{{labels.SELECT}}</option>
                    <option>{{labels.HIM}}</option>
                    <option>{{labels.HER}}</option>
                  </select>

                  <label>{{labels.STYLE}}</label>
                  <input value="style" type="text">

                  <label>{{labels.DESIGNER}}</label>
                  <input value="designer" type="text">

                  <label>{{labels.GENDER}}</label>
                  <select class="chosen-select-no-single">
                    <option [label]="labels.SELECT">{{labels.SELECT}}</option>
                    <option>{{labels.MALE}}</option>
                    <option>{{labels.FEMALE}}</option>
                  </select>

                  <label>{{labels.TAG_ARABIC}}</label>
                  <input value="Tags ar" type="text">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div [align]="lang==='ar'?'left':'right'">
        <a style="background-color: #F91942 !important;" class="button preview">
          {{labels.CANCEL}} <i class="sl sl-icon-close"></i>
        </a>
        <a class="button preview" (click)="createRing()">{{labels.SAVE}} <i class="sl sl-icon-check"></i></a>
      </div>
    </div>
  </div>
</div>
