<div id="titlebar" class="gradient" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.TAGS}}</h2>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>
        {{labels.DEFAULT_TAGS}}

        <div (click)="navigateToCreateNewTag()" style="background-color: #046B69 !important;
              color: white !important;
              cursor: pointer;
              border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">{{labels.ADD_TAG}}</strong>
        </div>
      </h4>

      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="29%">{{labels.TAG}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="29%">{{labels.DESCRIPTION}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="29%">{{labels.ENABLED}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="2%">{{labels.DELETE}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="2%">{{labels.EDIT}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of tagsList">
              <tr *ngIf="item.isRemoved == false">
                <td>
                  <p>{{ item.name }}</p>
                </td>
                <td>
                  <p>{{ item.description }}</p>
                </td>
                <td>
                  <p>{{ item.isEnabled }}</p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: rgb(233, 80, 80); font-size: 20px; font-weight: 600;cursor: pointer;"
                      (click)="deleteEntity(item._id)" class="sl sl-icon-trash"></i></p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: #046B69 !important; cursor: pointer; font-size: 20px; font-weight: 600;"
                      (click)="editEntity(item._id)" class="sl sl-icon-pencil"></i></p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <weds-paging (changePasge)="pageChange($event)" [pageSize]="12" [collectionSize]="tagsList.length" [maxSize]="5">
    </weds-paging>
  </div>
</div>