.bkgrnd {
  background: linear-gradient(to bottom, rgba(83, 66, 92, 0.8) 0%, rgba(91, 66, 92, 0.8) 100%),
  url('/assets/images/themes/violet\ flower/top-image.png') !important;
  background-repeat: no-repeat, repeat;
  background-size: cover !important;
}


.btn-primary-violet {
  color: #fff;
  background-color: #9627a5 !important;
  border-color: #9627a5 !important;
}
