<div id="titlebar" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.ADD_POST}} </h2>
    </div>
  </div>
</div>

<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12">
    <div id="add-listing">

      <!-- Basic info -->
      <div class="add-listing-section">
        <div class="add-listing-headline">
          <h3><i class="sl sl-icon-doc"></i> {{labels.POST_INFO}}</h3>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="my-profile">
            <label class="margin-top-0">{{labels.TITLE_ENGLISH}}</label>
            <input value="Tom Perrin" type="text" [(ngModel)]="post.titleEn" [placeholder]="labels.TITLE_ENGLISH">

            <label>{{labels.SUBTITLE_ENGLISH}}</label>
            <input value="Tom Perrin" type="text" [(ngModel)]="post.subtitleEn" [placeholder]="labels.SUBTITLE_ENGLISH">

            <label>Meta Description English</label>
            <textarea value="" type="text" cols="1" rows="0" [(ngModel)]="post.metaDescriptionEn"
              placeholder="Meta Description in English"></textarea>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="my-profile">
            <label class="margin-top-0">Title Arabic</label>
            <input value="Tom Perrin" type="text" [(ngModel)]="post.titleAr" placeholder="Title in Arabic">

            <label>Subtitle Arabic</label>
            <input value="Tom Perrin" type="text" [(ngModel)]="post.subtitleAr" placeholder="Subtitle in Arabic">

            <label>Meta Description Arabic</label>
            <textarea value="" type="text" cols="2" rows="1" [(ngModel)]="post.metaDescriptionAr"
              placeholder="Meta Description in Arabic" s></textarea>
          </div>
        </div>

        <div class="row with-forms" [align]="lang==='ar'?'left':'right'">
          <a class="button" (click)="scrollToElement(postContent)">Next - Post Content &nbsp; <i
              class="sl sl-icon-arrow-down"></i></a>
        </div>
      </div>

      <!-- Content info -->
      <div class="add-listing-section margin-top-20" #postContent>
        <div class="add-listing-headline">
          <h3><i class="sl sl-icon-note"></i> Article Content</h3>
        </div>

        <div class="submit-section">
          <div class="row with-forms">
            <div class="row">
              <div class="my-profile">
                <label class="margin-top-0">English Content</label>
              </div>
              <editor apiKey="kfc2cb7tdp6l4eu34ylp7c4wram241iqpdvwm5n781w5lhgx" [(ngModel)]="post.bodyContentEn"
                [init]="tinymceInit">
              </editor>
            </div>

            <div class="row margin-top-30">
              <div class="my-profile">
                <label class="margin-top-0">Arabic Content</label>
              </div>
              <editor apiKey="kfc2cb7tdp6l4eu34ylp7c4wram241iqpdvwm5n781w5lhgx" [(ngModel)]="post.bodyContentAr"
                [init]="tinymceInit">
              </editor>
            </div>
          </div>
        </div>

        <div class="row with-forms margin-top-20" [align]="lang==='ar'?'left':'right'">
          <a class="button" (click)="scrollToElement(detaildInfo)">Next - Identification Details &nbsp; <i
              class="sl sl-icon-arrow-down"></i></a>
        </div>
      </div>


      <!-- Detaild Info -->
      <div class="add-listing-section margin-top-20" #detaildInfo>
        <div class="add-listing-headline">
          <h3><i class="sl sl-icon-doc"></i> Basic Article Informations</h3>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="my-profile">
            <label class="margin-top-0">Tags English</label>
            <select id="tagsEn" data-placeholder="Select Multiple Items" class="chosen-select" multiple>
              <option *ngFor="let tag of tagsEnglish" [selected]="tagsBinder(tag._id , 'en')" [value]="tag._id">
                {{ tag.name }}
              </option>
            </select>

            <label>Category</label>
            <select id="cats" class="chosen-select-no-single">
              <option label="blank">Select category</option>
              <option *ngFor="let cat of categories" [selected]="cat._id == post.category" [value]="cat._id">
                {{ cat.nameEn }}
              </option>
            </select>

            <div class="checkboxes in-row margin-top-30">
              <input id="check-a" type="checkbox" name="check" [(ngModel)]="post.isAuthorVisible">
              <label for="check-a">Show Author Name & Details</label>
              <p>This will make your name visible on the blogs view for users.</p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <div class="my-profile">
            <label class="margin-top-0">Tags Arabic</label>
            <select id="tagsAr" data-placeholder="Select Multiple Items" class="chosen-select" multiple>
              <option *ngFor="let tag of tagsArabic" [selected]="tagsBinder(tag._id , 'ar')" [value]="tag._id">
                {{ tag.name }}
              </option>
            </select>

            <label>Reading Time In Mins</label>
            <input value="5 Mins" type="number" [(ngModel)]="post.readingTime">

            <label>Publish Secheduled At</label>
            <input type="date" placeholder="Secheduled At" [(ngModel)]="post.scheduledAt">
          </div>
        </div>

        <div class="col-lg-12 col-md-12">
          <div class="my-profile margin-bottom-20">
            <label class="margin-top-0">Related Posts</label>
            <select id="relatedPosts" data-placeholder="Select Multiple Items" class="chosen-select" multiple>
              <option *ngFor="let possiblePost of posts" [selected]="relatedPostsBinder(possiblePost._id)"
                [value]="possiblePost._id">
                {{ possiblePost.titleEn }}
              </option>
            </select>
          </div>
        </div>
        <div class="row with-forms" [align]="lang==='ar'?'left':'right'">
          <a class="button" (click)="scrollToElement(media)">Next - Images & Media &nbsp; <i
              class="sl sl-icon-arrow-down"></i></a>
        </div>
      </div>


      <!-- Section -->
      <div class="add-listing-section margin-top-20" #media>
        <div class="add-listing-headline">
          <h3><i class="sl sl-icon-picture"></i> Gallery
          </h3>
        </div>

        <div class="row margin-bottom-20">
          <div class="row col-lg-3 col-md-3">
            <div class="my-profile">
              <label class="margin-top-0">Select a featured image</label>
              <a class="button"
                [ngClass]="{ 'pending' : post.featuredImage == '' , 'success' : post.featuredImage != '' }"
                (click)="getImage()" id="photoCliker">
                <span *ngIf="post.featuredImage == ''">Upload Cover Photo</span>
                <span *ngIf="post.featuredImage !== ''">
                  <i class="sl sl-icon-check"></i>
                  Cover photo uploaded
                </span>
              </a>
              <input style="display: none;" id="upImage" type="file" (change)="uploadCoverPhoto($event)">


              <label class="margin-top-10">Select a featured video</label>
              <a class="button"
                [ngClass]="{ 'pending' : post.featuredVideo == '' , 'success' : post.featuredVideo != '' }"
                (click)="getVideo()" id="videoClicker">
                <span *ngIf="post.featuredVideo == ''">Upload video</span>
                <span *ngIf="post.featuredVideo !== ''">
                  <i class="sl sl-icon-check"></i>
                  Video uploaded
                </span>
              </a>
              <input style="display: none;" id="upVideo" type="file" (change)="uploadVideo($event)">
            </div>
          </div>

          <div class="row col-lg-9 col-md-9">
            <ng-container *ngIf="post.images.length == 0">
              <div class="col-lg-3"></div>
              <div class="col-lg-3" align="center">
                <img src="assets/images/errors/nothing-found.png">
                <span>Post has no images.</span>
                <p style="cursor: pointer;" (click)="addImage()">
                  <i class="sl sl-icon-camera"></i>
                  Attach an image
                </p>
              </div>
              <div class="col-lg-3"></div>
            </ng-container>

            <ng-container *ngIf="post.images.length > 0">
              <p style="cursor: pointer;" (click)="addImage()">
                <i class="sl sl-icon-camera"></i>
                Attach an image
              </p>
              <ng-container *ngFor="let image of post.images">
                <div class="col-md-3">
                  <span><i style="cursor: pointer;" (click)="removeImage(image.id)" class="fa fa-close"></i></span>
                  <div class="edit-profile-photo" style="margin-bottom: 10px;">
                    <img class="anImage" [src]="image.url" alt="">
                    <div class="change-photo-btn">
                      <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                        <input type="file" class="upload" (change)="uploadImagePhoto($event , image.id)" />
                      </div>
                    </div>
                  </div>
                  <div>
                    <input type="text" placeholder="Arabic Desc" style="margin-bottom: 2px;"
                      [(ngModel)]="image.arabicDesc">
                    <input type="text" placeholder="English Desc" style="margin-bottom: 5px;"
                      [(ngModel)]="image.englishDesc">
                  </div>
                </div>
              </ng-container>

            </ng-container>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>



<div [align]="lang==='ar'?'left':'right'" *ngIf="editingMode == 'new'">
  <a class="button preview" (click)="createPost()">Save Changes <i class="sl sl-icon-check"></i></a>
</div>

<div [align]="lang==='ar'?'left':'right'" *ngIf="editingMode == 'update'">
  <a class="button preview" (click)="updatePost()">Update Changes <i class="sl sl-icon-check"></i></a>
</div>