<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome Users</h2>
      <span>Search top rated Users and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="add-listing">
      <div class="add-listing-section">
        <div class="row with-forms">
          <!-- Status -->
          <div class="col-md-6 margin-top-20">
            <h5>Role</h5>
            <select id="userRolesDropDown" class="chosen-select-no-single">
              <ng-container *ngFor="let userRole of userRoles">
                <option  [value]="userRole.name">{{ userRole.name.toLocaleLowerCase() }}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-md-6 margin-top-20">
            <h5>search </h5>
            <input type="text" placeholder="Enter search critera.">
          </div>
        </div>
        <div class="row with-forms " align="right">
          <a class="button"> Search </a>
          <a class="button" style="background-color:  rgb(233, 80, 80);" (click)="navigateToAddNewUser()"> Reset </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box with-icons margin-top-20">
      <h4>
        Users

        <div (click)="navigateToAddNewUser()" style="background-color: #046B69 !important;
              color: white !important;
              cursor: pointer;
              border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">Add User</strong>
        </div>
      </h4>
      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th scope="col" width="40%">User</th>
              <th scope="col" width="40%">Role</th>
              <th scope="col" width="5%">Delete</th>
              <th scope="col" width="5%">Edit</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of usersList">
            <tr *ngIf="item.isActive == true">
              <td>
                <p >{{ item.name }}</p>
              </td>
              <td>
                <p>{{ item.role }}</p>
              </td>
              <td class="td-in-table">
                <p><i style="color: rgb(233, 80, 80); cursor: pointer; font-size: 20px; font-weight: 600;cursor: pointer;"
                  (click)="deleteEntity(item.email)" class="sl sl-icon-trash"></i>
                </p>
              </td>
              <td class="td-in-table">
                <p><i style="color: #046B69 !important; cursor: pointer; font-size: 20px; font-weight: 600;"
                  (click)="editEntity(item._id)" class="sl sl-icon-pencil"></i></p>
              </td>
            </tr>
          </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <weds-paging (changePasge)="pageChange($event)" [pageSize]="10" [collectionSize]="usersList.length" [maxSize]="5">
    </weds-paging>
  </div>
</div>
