<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome Users</h2>
      <span>Search top rated Users and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>

<div class="style-2">
  <div class="toggle-wrap" style="border-bottom: 0px solid #e0e0e0 !important">
    <span class="trigger">
      <a href="#" style="font-size: 25px !important">
        <i style="font-size: 25px !important" class="fa fa-filter"></i> Filter & search in users
        <i class="sl sl-icon-plus"></i>
      </a>
    </span>
    <div class="toggle-container" style="padding-bottom: 0px !important; ">
      <div class="row with-forms">
        <div class="col-md-4">
          <input type="text" placeholder="search in user name."  [(ngModel)] = "searchKey">
        </div>
        <div class="col-md-3">
          <select id="userRolesDropDown" class="chosen-select-no-single">
            <option label="blank">select role</option>
            <option *ngFor="let userRole of userRoles" [value]="userRole.name">
              {{ userRole.name.toLowerCase() }}</option>
          </select>
        </div>
        <div class="col-md-5" align="right">
          <a class="button modfied-btn" style="background-color: #046B69;" (click)="search()"> <i class="sl sl-icon-magnifier"></i> Search </a>
          <a class="button modfied-btn" style="background-color: rgb(247, 72, 72);" (click)="clearSearch()"> <i class="sl sl-icon-trash"></i> Reset </a>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box with-icons margin-top-20">
      <h4>
        Users

        <div (click)="navigateToAddNewUser()" style="background-color: #046B69 !important;
              color: white !important;
              cursor: pointer;
              border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">Add User</strong>
        </div>
      </h4>
      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th scope="col" width="40%">User</th>
              <th scope="col" width="40%">Role</th>
              <th scope="col" width="5%">Delete</th>
              <th scope="col" width="5%">Edit</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of searchableList | slice:skip:limit">
              <tr *ngIf="item.isActive == true">
                <td>
                  <p>{{ item.name }}</p>
                </td>
                <td>
                  <p>{{ item.role.toLowerCase() }}</p>
                </td>
                <td class="td-in-table">
                  <p><i
                      style="color: rgb(233, 80, 80); cursor: pointer; font-size: 20px; font-weight: 600;cursor: pointer;"
                      (click)="deleteEntity(item.email)" class="sl sl-icon-trash"></i>
                  </p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: #046B69 !important; cursor: pointer; font-size: 20px; font-weight: 600;"
                      (click)="editEntity(item._id)" class="sl sl-icon-pencil"></i></p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row" *ngIf="collectionSize > 0 && showPaging">
  <div class="col-md-12">
    <weds-paging (changePasge)="pageChange($event)" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="5">
    </weds-paging>
  </div>
</div>