@media (max-width: 767px) {
  #registry .registry-title {
    margin-top: 80px;
  }
.background--navbar--style {
    background-color: $secondary-color;
    border-color: $secondary-color;
    z-index: 9999;
  }
  #top-section
  {
    height: 400px;
  }
  .top-image h1
  {
    font-size: 20px;
  }
  #getting--married--txt,
  #date--txt
  {
    font-size: 20px;
    line-height: 1.5;
    top: 12%;
  }
  .cover-photo
  {
    height: 300px;
  }
  #wedding--para,
  #span--css,
  #wedding--para1
  {
    font-size: 16px;
  }
  #registry
  {
    width: 100%;
  }

.top-image{

 #save--txt{

  font-size: 20px;
  top: 13%;
}
 #the-txt{
  font-size: 40px;
  top: 12%;
}
#date2--txt{
  font-size: 20px;
  top: 12%;
}
 #date3--txt{
   font-size :20px;
   top: 12%;
 }
}
.navbar-brand {
  color: white!important ;
}
.link--style {
color: white!important;
text-align: center;
 padding: 0;
 margin: 0 auto;
 left: 0%!important;
}
#para--txt--css{
  font-size: 17px;
}
.thewedding--txt--contain{
  height: 230px;
}
#header--para--txt {
  text-align: center;
  position: relative;
  top: 40px;
  padding: 0;
}
.container--one{
  position: relative;
  width: 100%;
  top: 34px;
}
.container--two{
  position: relative;
  width: 100%;
  top: 23px;
}
.event{
  font-size: 18px;
}
.events .event-wrapper a.going-btn.active,
.events .event-wrapper a:focus.active, .events
.event-wrapper a:hover.active {
  font-size: 16px;
}
.events .event-wrapper a.going-btn,
.events .event-wrapper a:focus,
.events .event-wrapper a:hover {
  font-size: 16px;
}
#registry th{
  width: 35%;
  font-size: 25px;
  text-align: center;
}
}
@media(max-width: 540px){
  #registry th{
    width: 35%;
    font-size: 13px;
    text-align: left;
  }
}
@media(max-width: 320px){
  #registry th{
    width: 35%;
    font-size: 9px;
    text-align: left;
  }
  #registry .price{
    font-size: 16px;
  }
}
