@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Sacramento|Tangerine');
@import url('https://fonts.googleapis.com/css?family=Cairo');

$font-face: 'Sacramento', cursive;
$font-face2: 'Great Vibes', cursive;
$font-face3: 'Tangerine', cursive;
$font-face4: 'Cairo', sans-serif;
$primary-color: #333;
$secondary-color: #000;
