<weds-header [authorizedUser]= "isAuthed"></weds-header>

<!-- FOUND DRESSES -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          99 Vendors found
          <span>See all <i class="sl sl-icon-arrow-right-circle"></i></span>
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- FOUND DRESSES -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          99 Dresses found
          <!-- <span>Discover top-rated Fitness experts</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- FOUND RINGS -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          100 Rings found
          <!-- <span>Best venues in Weds360 in all locations, well take your eye!</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- FOUND PHOTOS -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          54 Photos found
          <!-- <span>Best venues in Weds360 in all locations, well take your eye!</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- BLOGS FOUND -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          No blogs found
          <!-- <span>Best venues in Weds360 in all locations, well take your eye!</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>


<div id="backtotop"><a href="#"></a></div>
<weds-footer></weds-footer>

<weds-footer></weds-footer>
