<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>
        {{labels.WEDDING_WEBSITE}}
      </h2>
      <!-- <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span> -->
    </div>
  </div>
</div>

<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12">
    <div id="add-listing">
      <div class="add-listing-section">
        <div class="row with-forms">

          <div class="col-md-6 margin-top-20" [ngClass]="lang === 'ar' ? 'col-md-6RTL' : ''">
            <h5>{{labels.SEARCH}} </h5>
            <input type="text" [placeholder]="labels.SEARCH_PLACEHOLDER">
          </div>
          <div class="col-md-2 margin-top-65">
            <a class="button" (click)="backToRoute()"> {{labels.SEARCH}} </a>
          </div>
          <div class="col-md-4 margin-top-65" [align]="lang==='ar'?'left':'right'">
            <a class="button" (click)="backToRoute()"> {{labels.PENDING}} </a>
            <a class="button" (click)="createNewCheckList()">{{labels.ALL}} </a>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box with-icons margin-top-20">
      <h4>
        {{labels.WEBSITES}}
      </h4>
      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="45%"> {{labels.WEBSITE}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="45%"> {{labels.EMAIL}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="5%">{{labels.DESTROY}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="5%">{{labels.PUBLISH}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of weddingWebsiteList">
              <tr>
                <td>
                  <p>{{item.name}}</p>
                </td>
                <td>
                  <p>{{item.email}}</p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: rgb(233, 80, 80); font-size: 20px; font-weight: 600;"
                      class="sl sl-icon-trash"></i>
                  </p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: rgb(80, 121, 233); cursor: pointer; font-size: 20px; font-weight: 600;"
                      (click)="editEntity(item._id)" class="sl sl-icon-share-alt"></i></p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="clearfix"></div>

<div class="row">
  <div class="col-md-12">
    <weds-paging (changePasge)="pageChange($event)" [pageSize]="10" [collectionSize]="weddingWebsiteList.length"
      [maxSize]="5">
    </weds-paging>
  </div>
</div>
