.no-margins {
  margin-top: 0px;
  margin-bottom: 0px;
}


.isChecked {
  background-color: rgb(117, 248, 117) !important;
  color: white !important;
  font-size: 25px !important;
};


.isNotChecked {
  background-color: rgb(132, 138, 132) !important;
  color: white !important;
  font-size: 25px !important;
}
.col-md-6RTL{
  float:right;
}
