<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your checklist <i style="color: #046B69;" class="im im-icon-Check"></i></h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box with-icons margin-top-20">
      <h4>My CheckList</h4>
      <ul>
        <li style="cursor: pointer;" (click)="toggleNote(1)">
          <i  style="background-color: rgb(117, 248, 117); color: white; font-size: 25px;"
            class="list-box-icon fa fa-check"></i> Hire
          a planner
        </li>


        <div [@slideInOut]="showNote == 1 ? 'in' : 'out'"  [ngClass]="{'show': showNote == 1 , 'hide' : showNote == 0}"
          id="add-review" class="add-review-box no-margins">
          <label>Note:</label>
          <textarea cols="40" rows="2"></textarea>

          <button class="button">Save Note</button>
        </div>

        <li>
          <i style="cursor: pointer;"  style="background-color: rgb(248, 117, 117); color: white; font-size: 25px;"
            class="list-box-icon fa fa-times"></i>
          Start looking at wedding attires
        </li>

        <li>
          <i style="background-color: rgb(248, 117, 117); color: white; font-size: 25px;"
            class="list-box-icon fa fa-times"></i>
          Decide on a wedding theme
        </li>
      </ul>
    </div>
  </div>
</div>
