<div id="titlebar" class="gradient" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.CATEGORIES}}</h2>
      <span>{{labels.CATEGORIES_SUBTITLE}}</span>
    </div>
  </div>
</div>

<div class="style-2" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="toggle-wrap" style="border-bottom: 0px solid #e0e0e0 !important">
    <span class="trigger">
      <a href="#" style="font-size: 25px !important">
        <i style="font-size: 25px !important" class="fa fa-filter"></i> {{labels.FILTER_CATEGORIES}}
        <i class="sl sl-icon-plus"></i>
      </a>
    </span>
    <div class="toggle-container" style="padding-bottom: 0px !important; ">
      <div class="row with-forms">
        <div class="col-md-3" [ngClass]="lang === 'ar' ? 'col-md3-RTL' : ''">
          <input type="text" [placeholder]="labels.SEARCH_KEYWORD" [(ngModel)] = "searchKey">
        </div>
        <div class="col-md-3" [ngClass]="lang === 'ar' ? 'col-md3-RTL' : ''">
          <select id="categoriesSegments" class="chosen-select-no-single">
            <option label="blank" [ngValue] = "selectedSearchCategory">{{labels.SELECT_SEGMENT}}</option>
              <option *ngFor="let categorySegment of categoriesSegments" [value]="categorySegment.segment">
                {{ categorySegment.name }}</option>
          </select>
        </div>
        <div class="col-md-2" [ngClass]="lang === 'ar' ? 'col-md3-RTL' : ''">
          <select id="categoriesLayouts" class="chosen-select-no-single">
            <option label="blank" [selected]="selectedSearchLayout == 'empty'" >{{labels.SELECT_SERVICE_TYPE}}</option>
              <option *ngFor="let categoryLayout of categoriesLayouts" [value]="categoryLayout.layout">{{
                categoryLayout.name }}</option>
          </select>
        </div>

        <div class="col-md-4" [ngClass]="lang === 'ar' ? 'col-md3-RTL' : ''">
          <a class="button modfied-btn" style="background-color: #046B69;" (click)="search()"> <i class="sl sl-icon-magnifier"></i> {{labels.SEARCH}} </a>
          <a class="button modfied-btn" style="background-color: rgb(247, 72, 72);" (click)="clearSearch()"> <i class="sl sl-icon-trash"></i>
            {{labels.RESET}}
          </a>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="row" [ngClass]="lang === 'ar' ? 'rtl' : ''">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box with-icons margin-top-20">
      <h4>
        {{labels.CATEGORIES}}

        <div (click)="navigateToCreateNewCategory()" style="background-color: #046B69 !important;
                color: white !important;
                cursor: pointer;
                border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">{{labels.ADD_CATEGORY}}</strong>
        </div>
      </h4>
      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="30%">{{labels.CATEGORY}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="22%">{{labels.SEGMENT}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="22%">{{labels.SERVICE_TYPE}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="2%">{{labels.DELETE}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="2%">{{labels.EDIT}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container  *ngFor="let item of searchableList | slice:skip:limit">
            <tr *ngIf="item.isRemoved == false" [ngClass]="lang === 'ar' ? 'th' : ''">
              <td>
                <p>{{ item.nameEn }}</p>
              </td>
              <td>
                <p>{{ item.parentMenu }}</p>
              </td>
              <td>
                <p>{{ item.layout }}</p>
              </td>
              <td class="td-in-table">
                <p><i style="color: rgb(233, 80, 80); font-size: 20px; font-weight: 600;cursor: pointer;"
                  (click)="deleteEntity(item._id)" class="sl sl-icon-trash"></i>
                </p>
              </td>
              <td class="td-in-table">
                <p><i style="color: #046B69 !important; cursor: pointer; font-size: 20px; font-weight: 600;"
                  (click)="editEntity(item._id)" class="sl sl-icon-pencil"></i></p>
              </td>
            </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row" *ngIf="collectionSize > 0 && showPaging">
  <div class="col-md-12">
    <weds-paging (changePasge)="pageChange($event)" [pageSize]="pageSize" [collectionSize]="collectionSize" [maxSize]="5">
    </weds-paging>
  </div>
</div>
