<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.CATEGORIES}}</h2>
      <span>{{labels.CATEGORIES_SUBTITLE}}</span>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="add-listing">
      <div class="add-listing-section">
        <div class="row with-forms" [ngClass]="lang === 'ar' ? 'rtl' : ''">
          <!-- Status -->
          <div class="col-md-4 margin-top-20">
            <h5>{{labels.SEGMENT}}</h5>
            <select id="categoriesSegments" class="chosen-select-no-single">
              <ng-container *ngFor="let categorySegment of categoriesSegments">
                <option [selected]="categorySegment.segment == parentMenu" [value]="categorySegment.segment">
                  {{ categorySegment.name }}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-md-4 margin-top-20">
            <h5>{{labels.SERVICE_TYPE}}</h5>
            <select id="categoriesLayouts" class="chosen-select-no-single">
              <ng-container *ngFor="let categoryLayout of categoriesLayouts">
                <option [selected]="categoryLayout.layout == layout" [value]="categoryLayout.layout">{{
                  categoryLayout.name }}</option>
              </ng-container>
            </select>
          </div>

          <div class="col-md-4 margin-top-20">
            <h5>{{labels.SEARCH}} </h5>
            <input type="text" [placeholder]="labels.SEARCH_KEYWORD">
          </div>
        </div>
        <div class="row with-forms" [align]="lang ==='en'?'right':'left'">
          <a class="button"> <i class="fa fa-search"></i> {{labels.SEARCH}} </a>
          <a class="button" style="background-color:  rgb(233, 80, 80);"> {{labels.RESET}} </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box with-icons margin-top-20">
      <h4>
        {{labels.CATEGORIES}}

        <div (click)="navigateToCreateNewCategory()" style="background-color: #046B69 !important;
                color: white !important;
                cursor: pointer;
                border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">{{labels.ADD_CATEGORY}}</strong>
        </div>
      </h4>
      <div class="col-md-12" style="background-color: white;">
        <table class="table borderless">
          <thead>
            <tr>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="30%">{{labels.CATEGORY}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="22%">{{labels.SEGMENT}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="22%">{{labels.SERVICE_TYPE}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="2%">{{labels.DELETE}}</th>
              <th [ngClass]="lang === 'ar' ? 'th' : ''" scope="col" width="2%">{{labels.EDIT}}</th>
            </tr>
          </thead>
          <tbody>
            <ng-container *ngFor="let item of categoriesList">
              <tr *ngIf="item.isRemoved == false">
                <td>
                  <p>{{ item.nameEn }}</p>
                </td>
                <td>
                  <p>{{ item.parentMenu }}</p>
                </td>
                <td>
                  <p>{{ item.layout }}</p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: rgb(233, 80, 80); font-size: 20px; font-weight: 600;cursor: pointer;"
                      (click)="deleteEntity(item._id)" class="sl sl-icon-trash"></i>
                  </p>
                </td>
                <td class="td-in-table">
                  <p><i style="color: #046B69 !important; cursor: pointer; font-size: 20px; font-weight: 600;"
                      (click)="editEntity(item._id)" class="sl sl-icon-pencil"></i></p>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <weds-paging (changePasge)="pageChange($event)" [pageSize]="12" [collectionSize]="categoriesList.length"
      [maxSize]="5">
    </weds-paging>
  </div>
</div>