@media (max-width: 991px) {
  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 35px;
  }

  #date--txt {
    top: 29%;
  }

  .events {
    font-size: 20px;
  }

  #attending,
  #date--txt {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  #registry .registry-title {
    margin-top: 80px;
  }

  #join-us {
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
    padding-bottom: 2px;
  }

  #drinks {
    border-bottom: solid #000 1px;
    left: 17%;
    padding-bottom: 2px;
  }

  #be--there {
    border-bottom: solid #000 1px;
    padding-bottom: 2px;
  }

  .background--navbar--style {
    background-color: #ae8647;
    border-color: #ae8647;
    z-index: 9999;
  }

  #top-section {
    height: 550px;
  }

  .top-image h1 {
    font-size: 25px;
  }

  #date--txt,
  #getting--married--txt {
    font-size: 20px;
    line-height: 1.5;
  }

  .cover-photo {
    height: 300px;
  }

  #span--css,
  #wedding--para,
  #wedding--para1 {
    font-size: 22px;
  }

  #registry {
    width: 100%;
  }

  #attending,
  #be--there,
  #date--txt,
  #drinks,
  #getting--married--txt,
  #join-us {
    margin-top: 10%;
    padding-top: 1%;
  }

  .events {
    margin-top: 28%;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 14px;
  }

  .container--two {
    margin-top: 16%;
  }

  #attending {
    top: 61%;
  }

  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 20px;
  }

  .events {
    font-size: 20px;
  }

  #attending,
  #date--txt {
    font-size: 40px;
  }

  #getting--married--txt {
    margin-top: 6%;
  }

  #drinks {
    margin-top: 12%;
  }

  #be--there {
    top: 44%;
  }
}
@media (max-width: 575px) {
  #attending,
  #date--txt {
    font-size: 24px;
  }

  .container--two {
    margin-top: 21%;
  }

  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 14px;
  }

  .events {
    font-size: 10px;
  }

  #registry th {
    width: 35%;
    font-size: 13px;
    text-align: left;
  }
}
@media (max-width: 320px) {
  #registry th {
    width: 33%;
    font-size: 9px;
    text-align: left;
  }

  #registry .price {
    font-size: 16px;
  }
}
@media (max-width: 991px) {
  .events {
    font-size: 9px;
  }
}