<div class="transparent-header">
    <header id="header-container" class="fullwidth">
        <div id="header" style="border-bottom: 0px;">
            <div class="container">
                <div class="left-side">
                    <div id="logo">
                        <a>
                            <img style="max-height: 70px;" src="assets/images/logos/logo_1.png" 
                                data-sticky-logo="assets/images/logos/logo_1.png"
                                alt="Weds360 logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>


    <div class="main-search-container full-height alt-search-box centered"
        data-background-image="assets/images/backgrounds/login/7.jpg">
        <div class="main-search-inner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">

                        <div class="main-search-input">

                            <div class="main-search-input-headline">
                                <h2>Register Now </h2>
                                <h4>Wedding Planning is a piece of cake with Weds360</h4>
                            </div>

                            <div class="main-search-input-item">
                                <div>
                                    <input type="text" placeholder="example@weds360.com">
                                </div>
                            </div>


                            <div class="main-search-input-item location">
                                <div id="autocomplete-container">
                                    <input id="autocomplete-input" type="text" placeholder="Password">
                                </div>
                                <a href="#"><i class="fa fa-eye"></i></a>
                            </div>

                            <div class="main-search-input-item">
                                <select data-placeholder="Register yourself as" class="chosen-select">
                                    <option>Vendor</option>
                                    <option>Hotels</option>
                                </select>
                            </div>

                            <button class="button"
                                onclick="window.location.href='listings-half-screen-map-list.html'">Search</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>