<ngx-spinner></ngx-spinner>
<div class="transparent-header" [ngClass]="lang === 'ar' ? 'rtlText' : ''">
  <header id="header-container" class="fullwidth">
    <div id="header" style="border-bottom: 0px;">
      <div class="container">
        <div class="left-side">
          <div id="logo">
            <a>
              <img style="max-height: 55px;" src="assets/images/logos/whitelogo.png"
                data-sticky-logo="assets/images/logos/whitelogo.png" alt="Weds360 logo">
            </a>
          </div>
        </div>
      </div>
    </div>
  </header>


  <div [ngClass]="lang === 'ar' ? 'rtlText' : ''" class="main-search-container full-height alt-search-box centered"
    [attr.data-background-image]="bkImage">
    <div class="main-search-inner">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <form [formGroup]="loginForm">
              <div class="main-search-input">
                <div class="main-search-input-headline">
                  <h2>{{labels.LOGIN_NOW}} </h2>
                </div>

                <div [ngClass]="{'enable-notify': showNotification , ' disable-notify' : !showNotification }"
                  class="main-search-input-item closeable removed-margins">
                  <div [ngClass]="{'error': hasErrors ,
                                    'success' : hasSuccessMessages ,
                                    'warning' : hasWarnings ,
                                    'notice' : hasInfo}" class="notification  closeable fullWidth removed-paddings">
                    <p id="notifyMessage"></p>
                  </div>
                </div>

                <!-- Email Errors -->
                <div *ngIf="lf['email'].errors?.required && lf.email.touched"
                  class="main-search-input-item removed-margins">
                  <div class="notification error closeable fullWidth removed-paddings">
                    <p>{{labels.EMAIL_REQUIRED}}.</p>
                  </div>
                </div>

                <div *ngIf="lf['email'].errors?.email && lf.email.touched"
                  class="main-search-input-item removed-margins">
                  <div class="notification error closeable fullWidth removed-paddings">
                    <p>{{labels.VALID_EMAIL}}.</p>
                  </div>
                </div>
                <!-- End Email Errors -->


                <!-- Password Errors -->
                <div *ngIf="lf['password'].errors?.required && lf.password.touched"
                  class="main-search-input-item removed-margins">
                  <div class="notification error closeable fullWidth removed-paddings">
                    <p>{{labels.PASSWORD_REQUIRED}}.</p>
                  </div>
                </div>
                <!-- End Password Errors -->

                <div class="main-search-input-item">
                  <div>
                    <input formControlName="email" type="text" placeholder="example@weds360.com">
                  </div>
                </div>

                <div class="main-search-input-item location">
                  <div>
                    <input formControlName="password" [type]="passwordHidden ? 'password' : 'text'"
                      placeholder="Password">
                  </div>
                  <a (click)="togglePassword()" style="cursor: pointer;">
                    <i *ngIf="!passwordHidden" class="fa fa-eye"></i>
                    <i *ngIf="passwordHidden" class="fa fa-eye-slash"></i>
                  </a>
                </div>
                <div class="panel-dropdown-content checkboxes" style="padding: 0px !important;">
                  <input id="check-a" type="checkbox" name="check">
                  <label for="check-a">{{labels.REMEMBER_ME}}</label>
                </div>

                <div class="panel-dropdown-content" style="padding: 0px !important;">
                  <label style="cursor: pointer;"
                    (click)="helpers.navigateToRegister()">{{labels.FORGOT_PASSWORD}}</label>
                </div>


                <div class="main-search-input-item" style="margin-bottom: 0px;">
                  <div id="or">{{labels.OR}}</div>
                </div>


                <div class="main-search-input-item">
                  <ul class="social-icons color rounded icons-ul">
                    <li><a class="facebook" href="#"><i [ngClass]="lang === 'ar' ? 'rtlIcon' : ''"
                          class="icon-facebook"></i></a></li>
                    <li><a class="twitter" href="#"><i [ngClass]="lang === 'ar' ? 'rtlIcon' : ''"
                          class="icon-twitter"></i></a></li>
                    <li><a class="gplus" href="#"><i [ngClass]="lang === 'ar' ? 'rtlIcon' : ''"
                          class="icon-gplus"></i></a></li>
                  </ul>

                  <span (click)="helpers.navigateToRegister()" style="font-size: 13px; cursor: pointer;"
                    class="icons-ul">
                    <span>
                      {{labels.CREATE_NEW_ACCOUNT}}
                    </span>
                  </span>

                </div>

                <button [disabled]="!loginForm.valid" [ngClass]="{'disabled': !loginForm.valid }" (click)="login()"
                  class="button fullwidth margin-top-5">
                  {{labels.LOGIN}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>