@media (max-width: 1200px) {
  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 21px;
  }
}
@media (max-width: 991px) {
  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 24px;
  }

  .events {
    font-size: 15px;
  }

  #attending,
  #date--txt {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  #registry .registry-title {
    margin-top: 80px;
  }

  .nav-style {
    float: left;
  }

  .overlay--container {
    width: 65%;
  }

  #join-us {
    border-top: solid #000 1px;
    border-bottom: solid #000 1px;
    padding-bottom: 2px;
  }

  #be--there {
    border-bottom: solid #000 1px;
    padding-bottom: 2px;
  }

  .background--navbar--style {
    background-color: #ae8647;
    border-color: #ae8647;
    z-index: 9999;
  }

  #top-section {
    height: 550px;
  }

  .top-image h1 {
    font-size: 25px;
  }

  #date--txt,
  #getting--married--txt {
    font-size: 20px;
    line-height: 1.5;
  }

  .cover-photo {
    height: 300px;
  }

  #span--css,
  #wedding--para,
  #wedding--para1 {
    font-size: 22px;
  }

  #registry {
    width: 100%;
  }

  #attending,
  #be--there,
  #date--txt,
  #drinks,
  #getting--married--txt,
  #join-us {
    margin-top: 10%;
    padding-top: 1%;
  }

  .events {
    margin-top: 21%;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 14px;
  }

  .container--two {
    margin-top: 16%;
  }

  #attending {
    top: 61%;
  }

  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 15px;
  }

  .events {
    font-size: 12px;
  }

  #attending,
  #date--txt {
    font-size: 29px;
  }

  #getting--married--txt {
    margin-top: 8%;
  }

  .drinks_and_date {
    margin-top: 8%;
    left: 0;
    border-bottom: 1px solid black;

    #date {
      font-size: 20px;
      margin-bottom: 10px;
    }
  }

  .top-image h1 {
    top: 14%;
  }
}
@media (max-width: 575px) {
  .drinks_and_date {
    margin-top: 7%;
    left: 0;
    border-bottom: 1px solid black;

    #date {
      font-size: 10px;
      margin-bottom: 7px;
    }
  }

  #attending,
  #date--txt {
    font-size: 15px;
  }

  .container--two {
    margin-top: 21%;
  }

  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 12px;
  }

  .events {
    font-size: 7px;
  }

  #getting--married--txt {
    margin-top: 12%;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 10px;
  }

  .top-image h1 {
    font-size: 23px;
  }

  #drinks {
    margin-top: 8%;
    left: 0;
  }

  #be--there {
    margin-top: 4%;
  }

  .container--two {
    margin-top: 5%;
  }

  #attending {
    margin-top: 0;
    top: 56%;
  }

  .events {
    margin-top: 7%;
  }

  .overlay--container {
    height: 430px;
    width: 65%;
  }

  #top-section {
    height: 530px;
  }

  #be--there,
  #drinks,
  #getting--married--txt,
  #join-us {
    font-size: 10px;
  }

  .top-image h1 {
    font-size: 16px;
  }

  .events .event-wrapper a.going-btn,
  .events .event-wrapper a:focus,
  .events .event-wrapper a:hover {
    font-size: 8px;
  }

  #attending,
  #date--txt {
    font-size: 12px;
  }
}
@media (max-width: 320px) {
  #header--para--txt {
    font-size: 25px;
  }

  #para--txt--css {
    font-size: 17px;
  }
}