// $font-face: 'Lato', sans-serif;
// $font-face2: 'Special Elite', cursive;
// $primary-color: #ae8647;
// $secondary-color: #000;
@font-face {
    font-family: Edwardian;
    src: url('fonts/EdwardianScriptITC.ttf');
}

$font-face: 'Lato', sans-serif;
$font-face2: 'Lato', sans-serif;
$primary-color: #ae8647;
$secondary-color: #000;
