@import url('https://fonts.googleapis.com/css?family=Alex+Brush');
@import url('https://fonts.googleapis.com/css?family=Allura');
$font-face: 'Alex Brush', cursive;
$font-face2: 'Lato', sans-serif;
$font-face3: 'Allura', cursive;
$primary-color: #114e4b;
$secondary-color: #000;
