$dark-red: #bb0000;

.photos--container {
  margin: 120px auto 0;
  width: 100%;

  h2 {
    margin: 0 auto;
    text-align: center;
  }
}

.photos--single--image {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto 50px;
  height: 500px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }
}

.photos--two--images {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto 50px;

  .bg-img {
    height: 500px;
  }
}

.photos--slider--big {
  max-width: 1080px;
  margin: 0 auto;
  width: 90%;
  padding: 6% 0;
  position: relative;
  overflow: hidden;

  .slick-list {
    overflow: visible;
  }

  .slick-slide{
    width: 534px;
    height: 300px;
  }

  .slick-arrow {
    position: absolute;
    height: 32px;
    font-size: 32px;
    z-index: 9000;
    top: calc(50% - 20px);
    color: $white;
    left: 35px;
    cursor: pointer;
    text-shadow: 0px 0px 1px #000;

    &.fa-chevron-right {
      right: 35px;
      left: auto;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.photos--slider--big--contained {
  width: 70%;
  max-width: 830px;
  overflow: visible;
}

.photos--slider--big--image {
  padding-bottom: 100%;
  position: relative;
  transition: all ease-out 0.15s;
  // transform: scale(2, 2);

  .photos--slider--big--image--container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    max-width: 534px;
    max-height: 300px;
    overflow: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: all ease-out 0.15s !important;

    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    img {
    }
  }
}

.slick-center .photos--slider--big--image {
  z-index: 9000;
  transition: all ease 0.75s !important;
  transform: scale(1.4, 1.4) !important;
  margin-top: 50px;

  .photos--slider--big--image--container {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transition: all ease-in 0.8s !important;

    img {
    }
  }
}

.slick-center .photos--slider--big--image--contained {
  transform: scale(2.2, 1.2375) !important;
}

.photos--slider--big--video {
  padding-bottom: 100%;
  position: relative;
  transition: all ease-out 0.15s;
  transform: scale(1);

  .service--multiple--items--video {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: all ease-out 0.15s !important;

    video {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
}

.slick-center .photos--slider--big--video {
  z-index: 9000;
  transition: all ease 0.75s !important;
  transform: scale(2.2, 1.2375) !important;

  .service--multiple--items--video {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transition: all ease-in 0.8s !important;
  }
}

.photos--slider--small {
  max-width: 850px;
  margin: 0 auto;
  width: 70%;

  .slick-arrow {
    background-color: $primary-color;
    position: absolute;
    height: 32px;
    width: 22px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    z-index: 9000;
    top: calc(50% - 23px);
    left: -35px;
    color: $white;
    cursor: pointer;
    text-shadow: 0px 0px 1px #000;

    &.fa-chevron-right {
      right: -35px;
      left: auto;
    }
  }
}

.photos--slider--small--image--container {
  display: flex;
}

.photos--slider--small--image--container {
  padding: 0 3px;
}

.event--single--image {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto 50px;
  height: 500px;
  position: relative;

  img {
    height: 100%;
    width: 100%;
  }
}

.event--two--images {
  width: 90%;
  max-width: 1100px;
  margin: 30px auto 50px;

  .bg-img {
    height: 500px;
  }
}

.event--slider--big {
  max-width: 1080px;
  width: 90%;
  margin: 0 auto;
  padding: 6% 0;
  position: relative;
  overflow: hidden;

  .slick-list {
    overflow: visible;
  }

  .slick-arrow {
    position: absolute;
    height: 32px;
    font-size: 32px;
    z-index: 9000;
    top: calc(50% - 20px);
    color: $white;
    left: 35px;
    cursor: pointer;
    z-index: 9999;
    text-shadow: 0px 0px 1px #000;

    &.fa-chevron-right {
      right: 35px;
      left: auto;
    }

    &:hover {
      color: $primary-color;
    }
  }
}

.event--slider--big--image {
  padding-bottom: 100%;
  position: relative;
  transition: all ease-out 0.15s;
  transform: scale(2, 1);

  .event--slider--big--image--container {
    position: absolute;
    top: 10px;
    left: 10px;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    overflow: hidden;
    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
    transition: all ease-out 0.15s !important;

    img {
      width: 100%;
      height: 100%;
    }
  }
}

.slick-center .event--slider--big--image {
  z-index: 9000;
  transition: all ease 0.75s !important;
  transform: scale(2.2, 1.2375) !important;

  .event--slider--big--image--container {
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
    filter: blur(0px);
    transition: all ease-in 0.8s !important;
  }
}

.event--slider--big--contained {
  width: 70%;
  max-width: 830px;
  overflow: visible;
}

.slick-center .event--slider--big--image--contained {
  transform: scale(2.2, 1.2375) !important;
}

.event--slider--small {
  max-width: 850px;
  margin: 0 auto 50px;
  width: 70%;

  .slick-arrow {
    background-color: $primary-color;
    position: absolute;
    height: 32px;
    width: 22px;
    line-height: 32px;
    font-size: 16px;
    text-align: center;
    z-index: 9000;
    top: calc(50% - 23px);
    left: -35px;
    color: $white;
    cursor: pointer;
    text-shadow: 0px 0px 1px #000;

    &.fa-chevron-right {
      right: -35px;
      left: auto;
    }
  }
}

.event--slider--small--image--container {
  display: flex;
}

.event--slider--small--image--container {
  padding: 0 3px;
}

.event--slider--small--image {
  padding-bottom: 100%;
  position: relative;
  background-color: $white;

  .bg-img {
    cursor: pointer;
    overflow: hidden;
    transition: all ease-out 0.15s !important;
    position: absolute;
    top: 7px;
    left: 7px;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
  }

  &.active {
    background-color: $primary-color;
  }
}

.event--slider--big--contained {
  width: 70%;
  max-width: 830px;
  overflow: visible;
}

.event--slider--big--contained {
  width: 70%;
  max-width: 830px;
  overflow: visible;
}

.bg-img::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.1);
  top: 0;
  z-index: 1;
}

// Masonry
.grid{
  margin: 0 auto;
  max-width: 830px;
  width: 95%;
}
.grid-item {
  float: left;
  border: 2px solid rgba(0, 0, 0, 0.1); 
  overflow: hidden;
  width: 250px;
  img{
    max-width: 100%;
  }
  cursor: pointer;
  &:hover{
    background: rgba(0,0,0,0.7);
    opacity: 0.5;
  }
}
.lity{
  z-index: 9999;
}

//guest add photos
.website--images--container {
  max-width: 830px;
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  margin: 0 auto;

  .website--image {
    label,
    label:after,
    label:before {
      display: none;
    }

    br {
      display: none;
    }

    .crop-form {
      height: 150px;
    }
  }

  .website--image {
    //height          : 80px;
    padding: 10px;
    width: 100%;
    background-color: $white;
  }
}

.website--imges--add {
  padding: 10px;
  width: 100%;
}

.website--images--add--button {
  border: 1px solid #333;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
  
  background-color: $white-three;
  width: 44px;
  height: 44px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

input.website--submit {
  color: white !important;
  background-color: $primary-color !important;
  width: 50% !important;
  margin: 30px 25% 15px !important;
  font-size: 20px !important;
  height: 40px !important;
  padding: 0 !important;
  border-radius: 0 !important;
  border: none;
  display: none;
}

.image--upload--container {
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 9100;

  .form-group {
    margin-bottom: 0;
  }
}

.image--upload > label {
  display: inline-block !important;
  cursor: pointer;
}

.image--upload {
  position: relative;
  left: 0;
  height: 30px;
  width: 30px;
  top: 0;

  label {
    margin-bottom: 0;

    &:hover {
      i {
        color: $primary-color;
        transition: all ease 0.2s;
      }
    }
  }

  i {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: $warm-grey;
    transition: all ease 0.2s;

    &:hover {
      color: $primary-color;
      transition: all ease 0.2s;
    }
  }
}

.image--upload--icon {
  display: none !important;
}

.image--add--new {
  width: 100%;
  height: 100%;
  background-color: $white-two;
  position: relative;

  span {
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: $primary-color;
    font-size: 30px;
    line-height: 30px;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
  }
}

.single--image--container {
  height: 150px;
  position: relative;
  width: 100%;
}

.single--image--uploader {
  //height          : 150px;
  width: 100%;
  background-color: $white-three;

  .form-group {
    margin-bottom: 0;
  }
}

.single--image--uploader > label {
  display: inline-block !important;
  cursor: pointer;
  color: $primary-color;
  width: 100%;
  height: 100%;
  line-height: 150px;
  text-align: center;
}

.website--image {
  position: relative;
}

.website--image--delete--container {
  z-index: 9100;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 15px;
  right: 15px;

  .form-group {
    margin-bottom: 0;
  }
}

.website--image--delete > label {
  display: inline-block !important;
  cursor: pointer;
}

.website--image--delete {
  position: relative;
  right: 0;
  height: 30px;
  width: 30px;
  top: 0;

  label {
    margin-bottom: 0;
  }

  a {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }

  &:hover {
    i {
      color: $dark-red;
      transition: all ease 0.2s;
    }
  }

  i {
    position: relative;
    font-size: 20px;
    line-height: 30px;
    width: 30px;
    text-align: center;
    color: $warm-grey;
    transition: all ease 0.2s;
  }
}

.single--image--uploader {
  .image--upload,
  .image--upload--container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .image--upload {
    label {
      display: -webkit-flex;
      display: -ms-flex;
      display: flex !important;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }
}