@mixin no-padding {
  padding: 0;
}

@mixin no-margin {
  margin: 0;
}

@mixin no-overflow {
  overflow: hidden;
}

@mixin no-border {
  border: none;
}

@mixin hide {
  opacity: 0;
}

@mixin full-size {
  height: 100%;
  width: 100%;
}