$font-face1: 'Lato', sans-serif;
$white: #fff;
$white-two: #f6f6f6;
$white-three: #ebebeb;
$white-four: #e1e1e1;
$white-five: #fefefe;
$primary-color: #024d4c;
$petrol: #006862;
$black: #000;
$black-two: #010101;
$warm-grey: #8f8f8f;
$warm-grey-two: #959595;
$blue-green: #008174;