body {
  margin: 0 !important;
  padding: 0 !important;
  border: 0;
  font-family: $font-face;
}

.page--contain {
  height: auto;
}

.bg-img {
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}

.top-image {
  height: 100vh;
  position: relative;

  h1 {
    font-family: $font-face2;
    color: white;
    position: relative;
    top: 35%;
    font-size: 100px;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
  }
}

.bg-img img:first-of-type {
  display: none;
}

.toggle--btn {
  width: 20px;
}

.toggle-div-btn {
  display: none;
}

#navbar {
  width: 100%;
  height: 70px;
  background-color: $primary-color;
  color: white;
  position: fixed;
  top: 0;
  z-index: 1030;
  text-align: center;
  padding-top: 23px;
}

#link {
  color: white;
  text-decoration: none;
  padding: 15px;
  text-align: center;
}

.div--Rsvp {
  width: 29%;
  height: 31px;
  background-color: $secondary-color;
  position: absolute;
  left: -62%;
  /* bottom: 11%; */
  top: 17%;
}

#RSVP--css {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: #fefefe;
  text-decoration: none;
  color: white;
  padding-left: 21%;
}

.nav-style {
  padding: 0;
  margin: 0 auto;
  position: relative;
  float: right !important;
}
@media (max-width: 767px) {
  .nav-style{float: left !important;}
}

.background--navbar--style {
  background-color: white;
  border-color: white;
  z-index: 9999;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
  font-family: $font-face2;
  color: black;
  background-color: transparent;
  font-size: 25px;
}

.link--style {
  color: black !important;
  font-weight: 300;
  line-height: 3.71;
  font-size: 18px;
}

.navbar-toggle {
  background-color: black;
}

#getting--married--txt {
  font-family: IRNazanin;
  font-size: 2em;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #fefefe;
  top: 80%;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.txt--header--div {
  position: relative;
  margin: 0;
  padding: 0;
  top: 79%;
}

.txt2--header--div {
  padding: 0;
  position: relative;
  top: 80%;
  margin: 0;
}

#date--txt {
  font-family: Lato;
  font-size: 2.5em;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  top: 87%;
  left: 0;
  right: 0;
  position: absolute;
  z-index: 2;
}

.img--div {
  text-align: center;
}

.img--css {
  height: 100px;
}

.cover-photo {
  height: 500px;
}

.second--div--background {
  position: relative;
  background-color: #ffffff;
  // height: 356px;
  padding: 5%;
}

#para--txt--css {
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: black;
  // position: absolute;
  width: 50%;
  margin: 10px auto;
}

#para--txt--css2 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: $primary-color;
  position: absolute;
  left: 0;
  right: 0;
  top: 13%;
}

#header--para--txt {
  font-family: IRNazanin;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  text-align: center;
  color: black;
  // position: absolute;
  left: 0;
  right: 0;
}

.third--background {
  width: 100%;
}

.fourth--background {
  height: 70px;
  width: 100%;
  background-color: $primary-color;
}

.contain-nav-fourth {
  top: 36%!important;
}

.fifth--background {
  background-color: #ffffff;
  width: 100%;
  position: relative;
  padding: 5% 2%;
}

.thewedding--txt--contain {
  width: 100%;
}

.container--one {
  width: 49%;
  display: inline-block;
  top: 40%;
  margin-top: 2%;
}

.container--two {
  width: 49%;
  display: inline-block;
  top: 42%;
  right: 0;
  margin-top: 2%;
}

#first--word--txt {
  font-family: Lato;
  font-size: 25px;
  font-weight: 700;
  font-style: normal;
  text-align: left;
  color: $primary-color;
  padding: 8px;
}

#wedding--para-color {
  font-size: 30px;
  font-weight: 900;
  line-height: 0.93;
  color: $primary-color;
}

#span--css {
  font-size: 24px;
  font-weight: 700;
  line-height: 0.93;
  color: $secondary-color;
}

#wedding--para {
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 0;
}

#wedding--para1 {
  font-family: Lato;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000000;
  margin: 0;
}

.RSVP--btn {
  position: absolute;
  margin: 0 auto;
  padding: 0;
  top: 20%;
  background-color: $secondary-color;
  width: 15%;
  text-align: center;
  text-align: center;
  left: 0;
  right: 0;
  top: 71%;
}

#btn--txt {
  font-family: Lato;
  font-size: 30px;
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.93;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  text-decoration: none;
}

.sixth--background {
  width: 100%;
  height: 362px;
  background-color: $primary-color;
}

#header--map--txt {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 0.1;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#para--map--css {
  font-family: Lato;
  font-size: 20px;
  /* font-weight: 300; */
  font-style: normal;
  font-stretch: normal;
  line-height: 1.6;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
}

#header1--map--txt {
  font-family: Lato;
  font-size: 24px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding-top: 45px;
}

.seventh--background {
  position: relative;
  background-color: #ffffff;
  width: 100%;
  height: 600px;
}

.pic--template {
  position: relative;
  top: 28%;
  height: 594px;
}

.img--template {
  width: 100%;
  text-align: center;
}

.overlay {
  position: relative;
  /* top: -5px; */
  bottom: 96px;
  height: 97.5px;
  width: 100%;
  opacity: 0;
  background-color: #ffffff;
  left: 0;
  transition: 1s cubic-bezier(0.26, -0.01, 0.58, 1);
}

.pic--template:hover .overlay {
  opacity: 0.5;
}

#overlay--txt {
  font-family: Lato;
  font-size: 1.5em;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: 1px;
  text-align: left;
  color: grey;
  padding-left: 11%;
  padding-top: 4%;
}

.events {
  text-align: center;
  margin: 5% 0;
  font-size: 25px;

  .event-wrapper {
    margin-bottom: 2%;

    .event {
      margin-bottom: 2%;
    }

    a.going-btn,
    a:focus,
    a:hover {
      background-color: transparent;
      text-decoration: none;
      padding: 5px;
      margin-left: 10px;
      text-transform: uppercase;
      font-size: 18px;
      font-family: Lato;
      color: $secondary-color;
      border: solid 1px $secondary-color;

      &.active {
        background-color: $secondary-color;
        color: white;
      }
    }
  }
}

#registry {
  width: 80%;
  margin: 0 auto;

  .registries-not-added {
    font-size: 15px;
    color: $secondary-color;
    text-align: center;
    margin: 5% 0;
  }

  .registry-title {
    text-align: center;
    margin: 10% 0 5%;
    color: $secondary-color;
    font-weight: bold;
    font-family: $font-face2;
    font-size: 60px;
  }

  thead {
    background-color: $primary-color;
    color: white;
  }

  th {
    border: none;
    text-transform: uppercase;
    color: black;
  }

  td.assign-me {
    background-color: $primary-color;
    border: none;
    width: 10%;
    text-align: center;

    a {
      color: white;
      text-decoration: none;
      content: '';
      width: 15px;
      height: 15px;
      border: solid 1px $secondary-color;
      border-radius: 100%;
      display: inline-block;
      position: relative;
      margin-top: 50%;

      &.active,
      &:hover {
        background-color: $secondary-color;
        border-color: $secondary-color;
      }

      &.not-clickable {
        cursor: default;
      }
    }
  }

  .gift-container {
    position: relative;

    .left-side,
    .right-side {
      display: inline-block;
    }

    .left-side {
      height: 100px;
      width: 100px;
    }

    .right-side {
      margin-left: 3%;
      position: absolute;
      top: 0;

      .title {
        font-weight: bold;
        font-size: 20px;
      }

      .address {
        color: #8f8f8f;
      }

      .notes {
        color: $primary-color;
        font-weight: bold;
        font-size: 12px;
        margin-top: 5%;
      }
    }
  }

  .price {
    font-size: 18px;
  }
}

#registry th {
  width: 35%;
  font-size: 25px;
  text-align: center;
}