<weds-header [authorizedUser]="isAuthed"></weds-header>



<div id="wrapper">

  <div id="titlebar" class="gradient" [ngClass]=" lang==='ar' ? 'rtl' : ''">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2>Get for you best Articles</h2><span>up to date as usual</span>
        </div>
      </div>
    </div>
  </div>



  <div class="container" [ngClass]=" lang==='ar' ? 'rtl' : ''">
    <div class="blog-page">
      <div class="row">
        <div class="col-lg-9 col-md-8 padding-right-30" [ngClass]=" lang==='ar' ? 'FeaturedBlogRTL' : ''">
          <div class="blog-post">
            <a href="" class="post-img">
              <img [src]="featuredPost.featuredImage" alt="">
            </a>

            <div class="post-content">
              <h3 style="cursor: pointer;">
                <a>{{ featuredPost.titleEn }}</a>
              </h3>

              <ul class="post-meta">
                <li>{{ featuredPost.publishedAt }}</li>
                <li><a>Wedding of the week</a></li>
                <li><a>5 Claps</a></li>
              </ul>

              <p>
                {{ featuredPost.metaDescriptionEn }}
              </p>

              <a style="cursor: pointer;" (click)="navigateToBlogPost(featuredPost._id)" class="read-more">Read More <i
                  class="fa fa-angle-right"></i></a>
            </div>

          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="sidebar right">
            <div class="widget">
              <h3 class="margin-top-0 margin-bottom-25">Search Blog</h3>
              <div class="search-blog-input   ">
                <div class="input" [ngClass]=" lang==='ar' ? 'extraPadding' : ''"><input class="search-field"
                    type="text" placeholder="Type and hit enter" value="" />
                </div>
              </div>
              <div class="clearfix"></div>
            </div>

            <div class="widget margin-top-40">

              <h3>Popular Posts</h3>
              <ul class="widget-tabs">
                <li>
                  <div class="widget-content">
                    <div class="widget-thumb">
                      <a href="pages-blog-post.html"><img src="images/blog-widget-03.jpg" alt=""></a>
                    </div>

                    <div class="widget-text">
                      <h5><a href="pages-blog-post.html">Hotels for All Budgets </a></h5>
                      <span>October 26, 2016</span>
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </li>
              </ul>
            </div>
            <div class="clearfix"></div>
            <div class="margin-bottom-40"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-8 padding-right-30" *ngIf="blogs&& blogs.length > 0 ">

        <div class="col-md-4" *ngFor="let blog of blogs">
          <a class="blog-compact-item-container" style="cursor: pointer;"
            (click)="navigateToBlog(blog.titleEn,blog._id)">
            <div class="blog-compact-item">
              <img [src]="blog.featuredImage" [alt]="blog.titleEn">
              <span class="blog-item-tag">{{lang==='ar'?blog.categoryNameArabic:blog.categoryNameEnglish}}</span>
              <div class="blog-compact-item-content">
                <ul class="blog-post-tags">
                  <li>{{blog.publishedAt}}</li>
                </ul>
                <h3>{{lang==='ar'?blog.titleAr:blog.titleEn}}</h3>
                <p>{{lang==='ar'?blog.subtitleAr:blog.subtitleEn}}</p>
              </div>
            </div>
          </a>
        </div>




      </div>
    </div>
  </div>




  <!-- Pagination -->
  <div class="clearfix"></div>
  <div class="row" *ngIf="collectionSize > 0 && showPaging">
    <div class="col-md-12">
      <weds-paging (changePasge)="pageChange($event)" [pageSize]="pageSize" [collectionSize]="collectionSize"
        [maxSize]="5">
      </weds-paging>
    </div>
  </div>
  <!-- Back To Top Button -->
  <div id="backtotop"><a href="#"></a></div>

</div>


<weds-footer></weds-footer>
