<weds-header [authorizedUser]="true" urlSegment="../../"></weds-header>
<!-- Main video & search bar! -->
<div class="main-search-container dark-overlay centered">
  <div class="main-search-inner">
    <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
      <div class="row">
        <div class="col-md-12">
          <h2>
            {{labels.SEARCH_MAJOUR_TITLE}}
            <!-- <span class="typed-words"></span> -->
          </h2>
          <h4>{{labels.SEARCH_SUB_TITLE}}</h4>

          <ng-container [ngClass]="lang === 'ar' ? 'rtl' : ''">
            <div class="main-search-input">

              <div class="main-search-input-item">
                <input type="text" [placeholder]="labels.LOOKING_FOR" value="" />
              </div>

              <div class="main-search-input-item location">
                <div id="autocomplete-container">
                  <input id="autocomplete-input" type="text" [placeholder]="labels.LOCATION">
                </div>
                <a href="#"><i class="fa fa-map-marker"></i></a>
              </div>

              <div class="main-search-input-item">
                <select data-placeholder="All Categories" class="chosen-select">
                  <option [selected]='true' disabled value="-1">{{labels.ALL_CATEGORIES}}</option>
                  <option *ngFor="let category of allCategories" [value]="category._id">
                    {{ lang==='en'? category.nameEn:category.nameAr}}
                  </option>
                </select>
              </div>

              <button class="button"
                onclick="window.location.href='listings-half-screen-map-list.html'">{{labels.SEARCH}}</button>

            </div>
          </ng-container>

        </div>
      </div>
    </div>

  </div>

  <div class="video-container">
    <video poster="assets/images/defaults/video/intro-cover.png" loop autoplay muted>
      <source src="assets/videos/intro video/intro.mp4" type="video/mp4">
    </video>
  </div>
</div>


<!-- Fullwidth Section -->
<section class="fullwidth margin-top-65 padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          {{labels.MOST_VISITED_PLACES}}
          <span> {{labels.DISCOVER_MOST_VISITED_PLACES}}</span>
        </h3>
      </div>

      <div class="col-md-12">
        <div class="simple-slick-carousel dots-nav">

          <!-- Listing Item -->
          <div class="carousel-item">
            <a href="listings-single-page.html" class="listing-item-container">
              <div class="listing-item">
                <img src="images/listing-item-01.jpg" alt="">

                <div class="listing-badge now-open">Now Open</div>

                <div class="listing-item-content">
                  <span class="tag">Eat & Drink</span>
                  <h3>Tom's Restaurant <i class="verified-icon"></i></h3>
                  <span>964 School Street, New York</span>
                </div>
                <span class="like-icon"></span>
              </div>
              <div class="star-rating" data-rating="3.5">
                <div class="rating-counter">(12 reviews)</div>
              </div>
            </a>
          </div>
          <!-- Listing Item / End -->

          <!-- Listing Item -->
          <div class="carousel-item">
            <a href="listings-single-page.html" class="listing-item-container">
              <div class="listing-item">
                <img src="images/listing-item-02.jpg" alt="">
                <div class="listing-item-details">
                  <ul>
                    <li>Friday, August 10</li>
                  </ul>
                </div>
                <div class="listing-item-content">
                  <span class="tag">Events</span>
                  <h3>Sticky Band</h3>
                  <span>Bishop Avenue, New York</span>
                </div>
                <span class="like-icon"></span>
              </div>
              <div class="star-rating" data-rating="5.0">
                <div class="rating-counter">(23 reviews)</div>
              </div>
            </a>
          </div>
          <!-- Listing Item / End -->

          <!-- Listing Item -->
          <div class="carousel-item">
            <a href="listings-single-page.html" class="listing-item-container">
              <div class="listing-item">
                <img src="images/listing-item-03.jpg" alt="">
                <div class="listing-item-details">
                  <ul>
                    <li>Starting from $59 per night</li>
                  </ul>
                </div>
                <div class="listing-item-content">
                  <span class="tag">Hotels</span>
                  <h3>Hotel Govendor</h3>
                  <span>778 Country Street, New York</span>
                </div>
                <span class="like-icon"></span>
              </div>
              <div class="star-rating" data-rating="2.0">
                <div class="rating-counter">(17 reviews)</div>
              </div>
            </a>
          </div>
          <!-- Listing Item / End -->

          <!-- Listing Item -->
          <div class="carousel-item">
            <a href="listings-single-page.html" class="listing-item-container">
              <div class="listing-item">
                <img src="images/listing-item-04.jpg" alt="">

                <div class="listing-badge now-open">Now Open</div>

                <div class="listing-item-content">
                  <span class="tag">Eat & Drink</span>
                  <h3>Burger House <i class="verified-icon"></i></h3>
                  <span>2726 Shinn Street, New York</span>
                </div>
                <span class="like-icon"></span>
              </div>
              <div class="star-rating" data-rating="5.0">
                <div class="rating-counter">(31 reviews)</div>
              </div>
            </a>
          </div>
          <!-- Listing Item / End -->

          <!-- Listing Item -->
          <div class="carousel-item">
            <a href="listings-single-page.html" class="listing-item-container">
              <div class="listing-item">
                <img src="images/listing-item-05.jpg" alt="">
                <div class="listing-item-content">
                  <span class="tag">Other</span>
                  <h3>Airport</h3>
                  <span>1512 Duncan Avenue, New York</span>
                </div>
                <span class="like-icon"></span>
              </div>
              <div class="star-rating" data-rating="3.5">
                <div class="rating-counter">(46 reviews)</div>
              </div>
            </a>
          </div>
          <!-- Listing Item / End -->

          <!-- Listing Item -->
          <div class="carousel-item">
            <a href="listings-single-page.html" class="listing-item-container">
              <div class="listing-item">
                <img src="images/listing-item-06.jpg" alt="">

                <div class="listing-badge now-closed">Now Closed</div>

                <div class="listing-item-content">
                  <span class="tag">Eat & Drink</span>
                  <h3>Think Coffee</h3>
                  <span>215 Terry Lane, New York</span>
                </div>
                <span class="like-icon"></span>
              </div>
              <div class="star-rating" data-rating="4.5">
                <div class="rating-counter">(15 reviews)</div>
              </div>
            </a>
          </div>
          <!-- Listing Item / End -->
        </div>

      </div>

    </div>
  </div>

</section>
<!-- Fullwidth Section / End -->

<section class="fullwidth padding-top-75 padding-bottom-30" data-background-color="#fff">
  <!-- Info Section -->
  <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h3 class="headline centered headline-extra-spacing">
          <strong class="headline-with-separator">{{labels.WHAT_USER_SAY}}</strong>
          <span class="margin-top-25">{{labels.WHAT_USER_SAY_SUB}}</span>
        </h3>
      </div>
    </div>

  </div>
  <!-- Info Section / End -->

  <!-- Categories Carousel -->
  <ng-container [ngClass]="lang === 'ar' ? 'rtl' : ''">
    <div class="fullwidth-carousel-container margin-top-20 no-dots">
      <div class="testimonial-carousel testimonials">

        <!-- Item -->
        <div class="fw-carousel-review">
          <div class="testimonial-box">
            <div class="testimonial" [ngClass]="lang === 'ar' ? 'testimonialRTL' : ''">{{reviews[0].review}}</div>
          </div>
          <div class="testimonial-author">
            <img src="images/happy-client-01.jpg" alt="">
            <h4>{{reviews[0].name}} <span>{{reviews[0].type}}</span></h4>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-review">
          <div class="testimonial-box">
            <div class="testimonial" [ngClass]="lang === 'ar' ? 'testimonialRTL' : ''">{{reviews[1].review}}</div>

          </div>
          <div class="testimonial-author">
            <img src="images/happy-client-02.jpg" alt="">
            <h4>{{reviews[1].name}} <span>{{reviews[1].type}}</span></h4>
          </div>
        </div>

        <!-- Item -->
        <div class="fw-carousel-review">
          <div class="testimonial-box">
            <div class="testimonial" [ngClass]="lang === 'ar' ? 'testimonialRTL' : ''">{{reviews[2].review}}</div>

          </div>
          <div class="testimonial-author">
            <img src="images/happy-client-02.jpg" alt="">
            <h4>{{reviews[2].name}} <span>{{reviews[2].type}}</span></h4>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <!-- Categories Carousel / End -->

</section>

<!-- Fullwidth Section -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container" [ngClass]="lang === 'ar' ? 'rtl' : ''">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          {{labels.BEST_FITNESS}}
          <!-- <span>Discover top-rated Fitness experts</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- Fullwidth Section -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          {{labels.BEST_VENUES}}
          <!-- <span>Best venues in Weds360 in all locations, well take your eye!</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- Fullwidth Section -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          {{labels.BEST_DESIGNERS}}
          <!-- <span>Best venues in Weds360 in all locations, well take your eye!</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- Fullwidth Section -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          {{labels.BEST_PHOTOGRAPHERS}}
          <!-- <span>Best venues in Weds360 in all locations, well take your eye!</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<!-- Fullwidth Section -->
<section class="fullwidth   padding-top-75 padding-bottom-70" data-background-color="#f8f8f8">

  <div class="container">
    <div class="row">

      <div class="col-md-12">
        <h3 class="headline centered margin-bottom-45">
          {{labels.NEW_VENDORS}}
          <!-- <span>Best venues in Weds360 in all locations, well take your eye!</span> -->
        </h3>
      </div>
    </div>
  </div>

  <!-- Carousel / Start -->
  <div class="simple-fw-slick-carousel dots-nav">

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-01.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Tom's Restaurant</h3>
            <span>964 School Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-02.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Friday, August 10</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Sticky Band</h3>
            <span>Bishop Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-03.jpg" alt="">
          <div class="listing-item-details">
            <ul>
              <li>Starting from $59 per night</li>
            </ul>
          </div>
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="2.0"></div>
            <h3>Hotel Govendor</h3>
            <span>778 Country Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>

      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-04.jpg" alt="">

          <div class="listing-badge now-open">Now Open</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="5.0"></div>
            <h3>Burger House</h3>
            <span>2726 Shinn Street, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-05.jpg" alt="">
          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="3.5"></div>
            <h3>Airport</h3>
            <span>1512 Duncan Avenue, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

    <!-- Listing Item -->
    <div class="fw-carousel-item">
      <a href="listings-single-page.html" class="listing-item-container compact">
        <div class="listing-item">
          <img src="images/listing-item-06.jpg" alt="">

          <div class="listing-badge now-closed">Now Closed</div>

          <div class="listing-item-content">
            <div class="numerical-rating" data-rating="4.5"></div>
            <h3>Think Coffee</h3>
            <span>215 Terry Lane, New York</span>
          </div>
          <span class="like-icon"></span>
        </div>
      </a>
    </div>
    <!-- Listing Item / End -->

  </div>
  <!-- Carousel / End -->


</section>

<div id="backtotop"><a href="#"></a></div>
<weds-footer></weds-footer>
