<weds-header [authorizedUser] = "isAuthed" ></weds-header>

<div class="container margin-top-100">
	<div class="row">

    <div class="col-lg-6 col-md-4 margin-top-0 margin-bottom-60">
			<div class="listing-item-container compact order-summary-widget">
				<div class="listing-item" style="height: 550px;">
					<img [src]="photo.image" alt="">

					<div class="listing-item-content">
						<h3>{{ lang == "en" ? photo.titleEn : photo.titleAr }}</h3>
						<span>{{ lang == "en" ? photo.titleEn : photo.titleAr }}</span>
					</div>
				</div>
			</div>

		</div>
		<div class="col-lg-6 col-md-8 padding-right-30">
			<h4 (click) = "openVendor(photo.vendor)"
        class="margin-top-0" style="color: #046B69 !important; cursor: pointer;" >{{ vendorName }}</h4>
			<h2 class="margin-top-0 margin-bottom-30">{{ lang == "en" ? photo.titleEn : photo.titleAr }}</h2>
			<div class="row">
				<div class="col-md-12">
					<p style="font-size: 20px;">
            {{ lang == "en" ? photo.descriptionEn : photo.descriptionAr }}
          </p>
				</div>
			</div>

      <div class="margin-top-10 margin-bottom-10 no-border">
        <ul class="share-buttons margin-top-40 margin-bottom-0">
          <li style="cursor: pointer;" (click)="share('facebook' , 'https://weds360.com/en/services/562')">
            <a class="fb-share"><i class="fa fa-facebook"></i> Share</a>
          </li>
          <li style="cursor: pointer;" (click)="share('twitter' , 'https://weds360.com/en/services/562')">
            <a class="twitter-share"><i class="fa fa-twitter"></i> Tweet</a>
          </li>
          <li style="cursor: pointer;" (click)="share('pinterest' , 'https://weds360.com/en/services/562')">
            <a class="gplus-share"><i class="fa fa-pinterest-p"></i> Pin it</a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>

			<h3 class="margin-top-55 margin-bottom-10">
        How do you feel it?
      </h3>
      <div class="sub-rating-stars">
        <div class="clearfix"></div>
        <form class="leave-rating">
          <input type="radio" name="rating" id="star5-agg" rate-map="PHOTO-1" value="1" (click)="rate(5)"/>
          <label for="star5-agg" class="fa fa-star"></label>
          <input type="radio" name="rating" id="star4-agg" rate-map="PHOTO-2" value="2" (click)="rate(4)"/>
          <label for="star4-agg" class="fa fa-star"></label>
          <input type="radio" name="rating" id="star3-agg" rate-map="PHOTO-3" value="3" (click)="rate(3)"/>
          <label for="star3-agg" class="fa fa-star"></label>
          <input type="radio" name="rating" id="star2-agg" rate-map="PHOTO-4" value="4" (click)="rate(2)"/>
          <label for="star2-agg" class="fa fa-star"></label>
          <input type="radio" name="rating" id="star1-agg" rate-map="PHOTO-5" value="5" (click)="rate(1)"/>
          <label for="star1-agg" class="fa fa-star"></label>
        </form>
      </div>

      <br>

      <a style="background-color: #F91942 !important; margin: 2px;"
        class="button booking-confirmation-btn margin-top-40 margin-bottom-65">
        <i class="im im-icon-Heart"></i> I loved it
      </a>
		</div>




	</div>
</div>

<weds-footer></weds-footer>
