.content {
  width: 200px;
  height: 600px;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}


.content-text {
  width: 600px;
  /* height: 600px; */
  position: absolute;
  left: 0;
  right: 50px;
  top: 170px;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}


.content-btns {
  width: 600px;
  /* height: 600px; */
  position: absolute;
  left: 0;
  right: 60px;
  top: 190px;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.content-btns-bups {
  width: 600px;
  /* height: 600px; */
  position: absolute;
  left: 0;
  right: 60px;
  top: 220px;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
