<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your Registry List</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>


<div class="row" *ngIf="!weddingWebsite.isPublished">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Your wedding website status</h4>
      <ul>
        <ng-container>
          <li>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6" align="center">
                <img style="width: 160px;" src="assets/images/errors/waiting.png">
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8" align="center">
                <h2 style="font-size: 25px; font-weight: 600; margin-top: 2px;">Not a log time and your site will be published! 🤙</h2>
              </div>
              <div class="col-md-2"></div>
            </div>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6" align="center">
                <a class="button preview" style="background-color: #FDAC42 !important;">
                  Update my info <i class="sl sl-icon-pencil"></i></a> &nbsp;

                <a class="button preview" (click)="previewSite()"> Preview website <i class="sl sl-icon-screen-desktop"></i></a>
              </div>
              <div class="col-md-3"></div>
            </div>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>

<div class="row" *ngIf="weddingWebsite.isPublished">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Your wedding website status</h4>
      <ul>
        <ng-container>
          <li>
            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6" align="center">
                <img style="width: 160px;" src="assets/images/errors/celebrations.png">
              </div>
              <div class="col-md-3"></div>
            </div>

            <div class="row">
              <div class="col-md-2"></div>
              <div class="col-md-8" align="center">
                <h2 style="font-size: 25px; font-weight: 600;">Your website is live! Share it an enjoy a delightful wedding night 💕
                  with your friends and family!
                </h2>
              </div>
              <div class="col-md-2"></div>
            </div>

            <div class="row">
              <div class="col-md-3"></div>
              <div class="col-md-6" align="center">
                <a class="button preview" style="background-color: #F91942 !important;">
                  Copy link and share <i class="sl sl-icon-share"></i></a> &nbsp;

                <a class="button preview"> Preview website <i class="sl sl-icon-screen-desktop"></i></a>
              </div>
              <div class="col-md-3"></div>
            </div>

          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
