<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your Registry List</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Your wedding website status</h4>
      <ul>
        <ng-container>
          <li style="height: 310px;">
            <div class="content margin-top-20">
              <img style="width: 160px;" src="assets/images/errors/waiting.png">
            </div>


            <div class="content-text" align="center">
              <h2 style="font-size: 25px; font-weight: 600;">Not a log time and your site will be published! 🤙</h2>
            </div>

            <div class="content-btns" align="center">
              <a class="button preview" style="background-color: #FDAC42 !important;" (click)="createNewWebsiteRequest()">
                Update my info <i class="sl sl-icon-pencil"></i></a> &nbsp;

              <a class="button preview" (click)="createNewWebsiteRequest()"> Preview website <i class="sl sl-icon-screen-desktop"></i></a>
            </div>

          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
