@font-face {
    font-family: Edwardian;
    src: font-url('themes/classic/fonts/EdwardianScriptITC.ttf');
}

$font-face: 'Lato', sans-serif;
$font-face2: Edwardian;
$primary-color: rgba(238, 239, 250, 0.44);
$secondary-color: #b4770d;
