<div class="row">
  <!-- Listings -->
  <div class="col-lg-12 col-md-12">

    <div class="messages-container margin-top-0">
      <div class="messages-headline">
        <h4>{{labels.INBOX}}</h4>
      </div>

      <div class="messages-inbox">

        <ul>
          <li class="unread">
            <a href="dashboard-messages-conversation.html">
              <div class="message-avatar"><img
                  src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.6435-9/156154319_10218959050396321_5396981394352457138_n.jpg?_nc_cat=103&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=9mTtv1vOrfAAX-vW9yZ&_nc_ht=scontent-hbe1-1.xx&oh=107ceb269359df5abd19b1b7ba6a3481&oe=6087BB7F"
                  alt="" /></div>

              <div class="message-by">
                <div class="message-by-headline">
                  <h5>Hossam Mamdouh <i>{{labels.UNREAD}}</i></h5>
                  <span>2 hours ago</span>
                </div>
                <p>Hello, I want to talk about your great listing! Morbi velit eros, sagittis in facilisis non, rhoncus
                  posuere ultricies...</p>
              </div>
            </a>
          </li>

          <li>
            <a href="dashboard-messages-conversation.html">
              <div class="message-avatar"><img
                  src="https://scontent-hbe1-1.xx.fbcdn.net/v/t1.6435-9/120532735_3292710790766547_78233050005144334_n.jpg?_nc_cat=110&ccb=1-3&_nc_sid=09cbfe&_nc_ohc=er3t9rxoDw0AX-tJCKT&_nc_ht=scontent-hbe1-1.xx&oh=a5775e7938be2ab179f117af6a324444&oe=6088D55F"
                  alt="" /></div>

              <div class="message-by">
                <div class="message-by-headline">
                  <h5>Ali Motie <i>{{labels.READ}}</i></h5>
                  <span>4 hours ago</span>
                </div>
                <p>Hello, I want to talk about your great listing! Morbi velit eros, sagittis in facilisis non, rhoncus
                  posuere ultricies...</p>
              </div>
            </a>
          </li>
        </ul>

      </div>
    </div>

    <div class="clearfix"></div>
    <div class="pagination-container margin-top-30 margin-bottom-0">
      <nav class="pagination">
        <ul>
          <li><a class="current-page">1</a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>