<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Manage & control website default data</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>


	<div class="row">
		<div class="col-md-12">
			<div class="categories-boxes-container margin-top-5 margin-bottom-30">

				<!-- Box -->
				<a (click)="navigate('categories-defaults')" class="category-small-box" style="cursor: pointer;">
					<i class="sl sl-icon-grid"></i>
					<h4>Categories</h4>
					<span class="category-box-counter">12</span>
				</a>

				<!-- Box -->
				<a (click)="navigate('areas-defaults')"  class="category-small-box" style="cursor: pointer;">
					<i class="sl sl-icon-globe"></i>
					<h4>Areas</h4>
					<span class="category-box-counter">32</span>
				</a>

				<!-- Box -->
				<a (click)="navigate('categories-defaults')"  class="category-small-box" style="cursor: pointer;">
					<i class="sl sl-icon-docs"></i>
					<h4>Themes</h4>
					<span class="category-box-counter">11</span>
				</a>

				<!-- Box -->
				<a (click)="navigate('tags-defaults')"  class="category-small-box" style="cursor: pointer;">
					<i class="sl sl-icon-tag"></i>
					<h4>Tags</h4>
					<span class="category-box-counter">15</span>
				</a>

				<a (click)="navigate('offers-defaults')"  class="category-small-box" style="cursor: pointer;">
					<i class="sl sl-icon-social-dropbox"></i>
					<h4>Offers</h4>
					<span class="category-box-counter">21</span>
				</a>

				<!-- Box -->
				<a (click)="navigate('messages')"  class="category-small-box" style="cursor: pointer;">
					<i class="im im-icon-CD-2"></i>
					<h4>Events</h4>
					<span class="category-box-counter">28</span>
				</a>

        			<!-- Box -->
				<a (click)="navigate('posts-action')"  class="category-small-box" style="cursor: pointer;">
					<i class="im im-icon-CD-2"></i>
					<h4>Posts</h4>
					<span class="category-box-counter">28</span>
				</a>

			</div>
		</div>
	</div>
