<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.MANAGE_WEBSITE_DATA}}</h2>
      <!-- <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span> -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <div class="categories-boxes-container margin-top-5 margin-bottom-30">

      <!-- Box -->
      <a (click)="navigate('categories-defaults')" class="category-small-box" style="cursor: pointer;">
        <i class="sl sl-icon-grid"></i>
        <h4>{{labels.CATEGORIES}}</h4>
        <span class="category-box-counter">{{featuresCount.categoriesCount}}</span>
      </a>

      <!-- Box -->
      <a (click)="navigate('areas-defaults')" class="category-small-box" style="cursor: pointer;">
        <i class="sl sl-icon-globe"></i>
        <h4>{{labels.AREAS}}</h4>
        <span class="category-box-counter">{{featuresCount.areasCount}}</span>
      </a>

      <!-- Box -->
      <a (click)="navigate('themes-defaults')" class="category-small-box" style="cursor: pointer;">
        <i class="sl sl-icon-docs"></i>
        <h4>{{labels.THEMES}}</h4>
        <span class="category-box-counter">{{featuresCount.themesCount}}</span>
      </a>

      <!-- Box -->
      <a (click)="navigate('tags-defaults')" class="category-small-box" style="cursor: pointer;">
        <i class="sl sl-icon-tag"></i>
        <h4>{{labels.TAGS}}</h4>
        <span class="category-box-counter">{{featuresCount.tagsCount}}</span>
      </a>

      <a (click)="navigate('offers-defaults')" class="category-small-box" style="cursor: pointer;">
        <i class="sl sl-icon-social-dropbox"></i>
        <h4>{{labels.OFFERS}}</h4>
        <span class="category-box-counter">{{featuresCount.offersCount}}</span>
      </a>


      <!-- Box -->
      <a (click)="navigate('posts')" class="category-small-box" style="cursor: pointer;">
        <i class="im im-icon-File-HorizontalText"></i>
        <h4>{{labels.POSTS}}</h4>
        <span class="category-box-counter">{{featuresCount.postsCount}}</span>
      </a>

    </div>
  </div>
</div>
