<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>{{labels.REGISTRY_TITLE}}</h2>
      <!-- <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span> -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>{{labels.REGISTRY_LIST}} <div (click)="addNewWish()" style="background-color: #046B69 !important;
        color: white !important;
        cursor: pointer;
        border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">{{labels.ADD_ITEM}}</strong>
        </div>
      </h4>
      <ul>
        <ng-container *ngIf="registeryList.length > 0 ">
          <ng-container *ngFor="let wish of registeryList">

            <ng-container *ngIf="wish.isNew && wish.editable">
              <li>
                <div class="list-box-listing">

                  <div class="list-box-listing-img">
                    <div class="edit-profile-photo">
                      <img class="anImage" [src]="onEditRegistry.image" alt="">
                      <div class="change-photo-btn">
                        <div class="photoUpload">
                          <span><i class="fa fa-upload"></i> {{labels.UPLOAD_PHOTO}}</span>
                          <input type="file" class="upload" (change)="uploadImage($event)" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-box-listing-content">
                    <div class="inner">
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" [placeholder]="labels.GIFT" [(ngModel)]="onEditRegistry.title">
                        </div>
                        <div class="col-md-3">
                          <input type="text" style="width: 50%;" [placeholder]="labels.PRICE"
                            [(ngModel)]="onEditRegistry.price">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" [placeholder]="labels.PURCHASE_FROM" [(ngModel)]="onEditRegistry.address">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="buttons-to-right">
                  <a class="button gray" (click)="updateRegistryListItem()"><i class="sl sl-icon-present"></i>
                    {{labels.SAVE}}</a>
                </div>
              </li>
            </ng-container>


            <ng-container *ngIf="!wish.isNew">
              <li>
                <div class="list-box-listing">

                  <div style="max-height: 80px !important;" class="list-box-listing-img">
                    <div class="edit-profile-photo">
                      <img class="anImage-result" [src]="wish.image" alt="">
                    </div>
                  </div>

                  <div class="list-box-listing-content">
                    <div class="inner">
                      <h3>{{ wish.title }}- {{ wish.price }}$</h3>
                      <span>{{ wish.address }}</span>
                    </div>
                  </div>
                </div>
                <div [ngClass]="lang==='ar'?'button-to-left':'buttons-to-right'">
                  <a class="button edit gray" (click)="editWish(wish._id)"><i class="sl sl-icon-close"></i>
                    {{labels.EDIT}}</a>
                  <a class="button remove gray" (click)="confirmDeletRegistryItem(wish._id)"><i
                      class="sl sl-icon-close"></i> {{labels.DELETE}}</a>
                </div>
              </li>
            </ng-container>


            <ng-container *ngIf="wish.isNew && !wish.editable">
              <li>
                <div class="list-box-listing">

                  <div class="list-box-listing-img">
                    <div class="edit-profile-photo">
                      <img class="anImage" [src]="newlyAddedRegistery.image" alt="">
                      <div class="change-photo-btn">
                        <div class="photoUpload">
                          <span><i class="fa fa-upload"></i> {{labels.UPLOAD_PHOTO}}</span>
                          <input type="file" class="upload" (change)="uploadImage($event)" />
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="list-box-listing-content">
                    <div class="inner">
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" [placeholder]="labels.GIFT" [(ngModel)]="newlyAddedRegistery.title">
                        </div>
                        <div class="col-md-3">
                          <input type="text" style="width: 50%;" [placeholder]="labels.PRICE"
                            [(ngModel)]="newlyAddedRegistery.price">
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-md-6">
                          <input type="text" [placeholder]="labels.PURCHASE_FROM"
                            [(ngModel)]="newlyAddedRegistery.address">
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="buttons-to-right">
                  <a class="button gray" (click)="saveRegistryListItem()"><i class="sl sl-icon-present"></i>
                    {{labels.SAVE}}</a>
                </div>
              </li>
            </ng-container>

          </ng-container>
        </ng-container>

        <ng-container *ngIf="registeryList.length == 0">
          <li style="height: 250px;">
            <div class="content margin-top-20">
              <img src="assets/images/errors/nothing-found.png">
            </div>
          </li>
        </ng-container>


      </ul>
    </div>
  </div>
</div>
