.edit:hover{
  background-color: rgb(130, 235, 98)  !important;
}


.remove:hover{
  background-color: rgb(235, 103, 98)  !important;
}


.anImage {
  max-width: 250px !important;
  max-height: 200px !important;
}


.anImage-result{
  max-width: 110px !important;
  max-height: 100px !important;
}

.content {
  width: 200px;
  height: 600px;
  position: absolute; /*Can also be `fixed`*/
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  /*Solves a problem in which the content is being cut when the div is smaller than its' wrapper:*/
  max-width: 100%;
  max-height: 100%;
  overflow: auto;
}
