.edit:hover{
  background-color: rgb(130, 235, 98)  !important;
}


.remove:hover{
  background-color: rgb(235, 103, 98)  !important;
}


.anImage {
  max-width: 250px !important;
  max-height: 200px !important;
}


.anImage-result{
  max-width: 110px !important;
  max-height: 100px !important;
}
