<div id="titlebar" class="gradient">
  <div class="row">
    <div class="col-md-12">
      <h2>Welcome to your Registry List</h2>
      <span>Search top rated vendors and experts that will make your wedding looks like a carnaval!</span>
    </div>
  </div>
</div>


<div class="row">
  <div class="col-lg-12 col-md-12">
    <div class="dashboard-list-box margin-top-0">
      <h4>Registry List <div
        (click) = "addNewWish()"
        style="background-color: #046B69 !important;
        color: white !important;
        cursor: pointer;
        border-radius: 20px;" class="comission-taken">
          <i class="im im-icon-Pencil"></i> &nbsp;
          <strong style="color: white !important">Add a new wish</strong>
        </div></h4>
      <ul>


        <ng-container *ngFor="let wish of registeryList">

          <ng-container *ngIf="!wish.isNew">
            <li>
              <div class="list-box-listing">

                <div class="list-box-listing-img">
                  <a href="#">
                    <img style="min-height: 70px;" src="assets/images/defaults/registry/default.jpg" alt="">
                  </a>
                </div>

                <div class="list-box-listing-content">
                  <div class="inner">
                    <h3>{{ wish.title }}- {{ wish.price }}$</h3>
                    <span>{{ wish.address }}</span>
                  </div>
                </div>
              </div>
              <div class="buttons-to-right">
                <a class="button edit gray"><i class="sl sl-icon-close"></i> Edit</a>
                <a href="#" class="button remove gray"><i class="sl sl-icon-close"></i> Delete</a>
              </div>
            </li>
          </ng-container>



          <ng-container *ngIf="wish.isNew">
            <li>
              <div class="list-box-listing">

                <div class="list-box-listing-img">
                  <div class="edit-profile-photo">
                    <img class="anImage"
                      [src]="'assets/images/defaults/wedding/cover-photo.png'"
                      alt="">
                    <div class="change-photo-btn">
                      <div class="photoUpload">
                        <span><i class="fa fa-upload"></i> Photo</span>
                        <input type="file" class="upload"  />
                      </div>
                    </div>
                  </div>
                </div>
                <div class="list-box-listing-content">
                  <div class="inner">
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" placeholder="Gift Name" [(ngModel)] = "newlyAddedRegistery.title">
                      </div>
                      <div class="col-md-3">
                        <input type="text" style="width: 50%;" placeholder="Price $" [(ngModel)] = "newlyAddedRegistery.price">
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <input type="text" placeholder="From where can they get it" [(ngModel)] = "newlyAddedRegistery.address">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="buttons-to-right">
                <a class="button gray"><i class="sl sl-icon-present"></i> Save</a>
              </div>
            </li>
          </ng-container>

        </ng-container>





      </ul>
    </div>
  </div>
</div>
