<div class="row">
    <div class="col-lg-12">
  
      <div id="add-listing">
  
        <div class="add-listing-section">
  
          <div class="add-listing-headline">
            <h3><i class="sl sl-icon-note"></i> User information</h3>
          </div>
  
          <div class="row with-forms">
            <div class="col-md-6">
              <h5>Full Name</h5>
              <input class="search-field" type="text" value="" />
            </div>
  
            <div class="col-md-6">
              <h5>Phone</h5>
              <input class="search-field" type="text" value="" />
            </div>
          </div>
  
  
          <div class="row with-forms">
            <div class="col-md-6">
              <h5>Email</h5>
              <input class="search-field" type="text" value="" />
            </div>
  
            <div class="col-md-6">
              <h5>Role</h5>
              <select class="chosen-select-no-single">
                <option>User</option>
                <option>Admin</option>
              </select>
            </div>
          </div>


          <div class="row with-forms">
            <div class="col-md-4">
              <h5>Day</h5>
              <select class="chosen-select-no-single">
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>
  
            <div class="col-md-4">
              <h5>Month</h5>
              <select class="chosen-select-no-single">
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
              </select>
            </div>


            <div class="col-md-4">
                <h5>Year</h5>
                <select class="chosen-select-no-single">
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                  </select>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <a style="background-color: #F91942 !important;" class="button preview" (click)="backToRoute()">
    Cancel <i class="sl sl-icon-close"></i>
  </a>
  <a class="button preview" (click)="createNewCheckList()">Save Changes <i class="sl sl-icon-check"></i></a>
  